<div id="chat" class="page-layout carded fullwidth" fusePerfectScrollbar>
  <div class="top-bg" [ngClass]="BGClassName?.layout?.toolbar?.background"></div>
  <div class="center" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="10">
    <div [ngClass]="BGClassName?.layout?.toolbar?.background" fxLayout="column" fxLayoutAlign="center"
      fxLayoutGap="10px" fxLayoutGap.xs="10">
      <div fxLayout class="layoutclass mt-12">
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                To be released
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{purchaseRequisitionStatusCount?.YetToConvert}} / {{purchaseRequisitionStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/YetToConvert.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                In progress
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{purchaseRequisitionStatusCount?.InProgress}} / {{purchaseRequisitionStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/InProcess.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                Allocated
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{purchaseRequisitionStatusCount?.Allocated}} / {{purchaseRequisitionStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/Allocated.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                Responded
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{purchaseRequisitionStatusCount?.Responded}} / {{purchaseRequisitionStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/Responded.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                Awarded
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{purchaseRequisitionStatusCount?.Awarded}} / {{purchaseRequisitionStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/Awarded.png">
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                Responded / Awarded
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{purchaseRequisitionStatusCount?.Responded}} / {{purchaseRequisitionStatusCount?.Awarded}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/Responded.png">
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div fxFlex class="mt-20">
      <mat-card class="p-0 mb-16" style="min-height: 80vh;">
        <mat-card-content>
          <div fxLayout="row" class="pt-8">
            <div fxFlex="70" class="borderRightClass">
              <div fxLayout>
                <div fxFlex class="boldClass pt-16 px-24">Supplier Invite</div>
                <div fxFlex fxLayoutAlign="end center" class="m-4">
                  <button *ngIf="(SelectedRFQStatus | lowercase)!=='allocated'"
                    [style.color]="compStyles?.backgroundColor" (click)="AddVendorClicked()" mat-stroked-button>
                    <mat-icon *ngIf="IsSearchShow">add_circle_outline</mat-icon>
                    {{IsSearchShow?'Create vendor':'Go to search'}}
                  </button>
                </div>
              </div>
              <div fxLayout class="borderBottom mt-12"></div>
              <form name="form" [formGroup]="VendorSearchFormGroup">
                <div fxLayout="row wrap" class="mt-4 pl-24">
                  <div fxFlex="33" *ngIf="IsSearchShow">
                    <div class="pr-8">
                      <span style="font-size: 13px;">Vendor ID</span>
                    </div>
                    <mat-form-field appearance="outline">
                      <input matInput formControlName="VendorCode">
                      <mat-error *ngIf="VendorSearchFormGroup.get('VendorCode').touched &&
                      VendorSearchFormGroup.get('VendorCode').hasError('required')">
                        Vendor code is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="33">
                    <div class="pr-8">
                      <span style="font-size: 13px;">Vendor Name</span>
                    </div>
                    <mat-form-field appearance="outline">
                      <input matInput formControlName="VendorName">
                      <mat-error *ngIf="VendorSearchFormGroup.get('VendorName').touched &&
                      VendorSearchFormGroup.get('VendorName').hasError('required')">
                        Vendor Name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="33">
                    <div class="pr-8">
                      <span style="font-size: 13px;">GST No.</span>
                    </div>
                    <mat-form-field appearance="outline">
                      <input matInput formControlName="GSTNumber">
                      <mat-error *ngIf="VendorSearchFormGroup.get('GSTNumber').touched &&
                      VendorSearchFormGroup.get('GSTNumber').hasError('required')">
                        GST Number is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="33">
                    <div class="pr-8">
                      <span style="font-size: 13px;">State</span>
                    </div>
                    <mat-form-field appearance="outline">
                      <input matInput formControlName="State">
                      <mat-error *ngIf="VendorSearchFormGroup.get('State').touched &&
                      VendorSearchFormGroup.get('State').hasError('required')">
                        State is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="33">
                    <div class="pr-8">
                      <span style="font-size: 13px;">City</span>
                    </div>
                    <mat-form-field appearance="outline">
                      <input matInput formControlName="City">
                      <mat-error *ngIf="VendorSearchFormGroup.get('City').touched &&
                      VendorSearchFormGroup.get('City').hasError('required')">
                        City is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="33">
                    <div class="pr-8">
                      <span style="font-size: 13px;">Account Group</span>
                    </div>
                    <mat-form-field appearance="outline">
                      <input matInput formControlName="AccountGroup">
                      <mat-error *ngIf="VendorSearchFormGroup.get('AccountGroup').touched &&
                      VendorSearchFormGroup.get('AccountGroup').hasError('required')">
                        Account Group is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="33" *ngIf="!IsSearchShow">
                    <div class="pr-8">
                      <span style="font-size: 13px;">Email</span>
                    </div>
                    <mat-form-field appearance="outline">
                      <input matInput formControlName="EmailId">
                      <mat-error *ngIf="VendorSearchFormGroup.get('EmailId').touched &&
                      VendorSearchFormGroup.get('EmailId').hasError('required')">
                        Email id is required
                      </mat-error>
                      <mat-error *ngIf="VendorSearchFormGroup.get('EmailId').touched &&
                      !VendorSearchFormGroup.get('EmailId').hasError('required')&&
                      VendorSearchFormGroup.get('EmailId').hasError('email')">
                        Enter valid email address
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div fxFlex="33" *ngIf="!IsSearchShow">
                    <div class="pr-8">
                      <span style="font-size: 13px;">Contact number</span>
                    </div>
                    <mat-form-field appearance="outline">
                      <input matInput formControlName="ContactNumber" pattern="^(\+91[\-\s]?)?[0]?(91)?[6789]\d{9}$">
                      <mat-error *ngIf="VendorSearchFormGroup.get('ContactNumber').touched &&
                      VendorSearchFormGroup.get('ContactNumber').hasError('required')">
                        Contact Number is required
                      </mat-error>
                      <mat-error *ngIf="VendorSearchFormGroup.get('ContactNumber').touched &&
                      !VendorSearchFormGroup.get('ContactNumber').hasError('required') && 
                      VendorSearchFormGroup.get('ContactNumber').hasError('pattern')">
                        Please enter a valid Contact Number
                      </mat-error>
                    </mat-form-field>
                  </div>

                </div>
                <div fxLayout FxLayoutAlign="center">
                  <div fxFlex></div>
                  <div fxFlex class="pl-120">
                    <button *ngIf="(SelectedRFQStatus | lowercase)!=='allocated' && IsSearchShow"
                      [ngClass]="BGClassName?.layout?.toolbar?.background" (click)="GetVendorsBasedOnConditions()"
                      class="SearchBtnClass" mat-raised-button>
                      Search
                    </button>
                    <button *ngIf="(SelectedRFQStatus | lowercase)!=='allocated' && !IsSearchShow"
                      [ngClass]="BGClassName?.layout?.toolbar?.background" (click)="SaveVendorsCliked()"
                      class="SearchBtnClass" mat-raised-button>
                      Save
                    </button>
                  </div>
                  <div fxFlex></div>
                </div>
              </form>
              <div fxLayout class="borderBottom mt-12 mx-160"></div>
              <div fxLayout class="pr-16 px-24 pt-16">
                <div fxFlex class="boldClass">VendorList</div>
                <div fxFlex align="end">
                  <button *ngIf="(SelectedRFQStatus | lowercase)!=='allocated'"
                    [style.color]="compStyles?.backgroundColor" (click)="AddSelectedVendors()" mat-stroked-button>
                    <mat-icon>add_circle_outline</mat-icon>
                    Add vendor
                  </button>
                </div>
              </div>
              <div fxLayout class="mt-12 px-24 pr-16 pb-16" FxLayoutAlign="center">
                <table mat-table [dataSource]="vendorDataSource">
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <!-- <mat-checkbox [checked]="selection.isSelected(row)" 
                      (change)="CheckBoxEvent($event,row)">
                      </mat-checkbox> -->
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="VendorCode">
                    <th mat-header-cell *matHeaderCellDef>Vendor ID</th>
                    <td mat-cell *matCellDef="let element">{{element.VendorCode | removeLeadingZero}}</td>
                  </ng-container>

                  <ng-container matColumnDef="VendorName">
                    <th mat-header-cell *matHeaderCellDef>Vendor Name</th>
                    <td mat-cell *matCellDef="let element">{{element.VendorName}}</td>
                  </ng-container>

                  <ng-container matColumnDef="GSTNumber">
                    <th mat-header-cell *matHeaderCellDef>GST Number</th>
                    <td mat-cell *matCellDef="let element"> {{element.GSTNumber}} </td>
                  </ng-container>

                  <!-- <ng-container matColumnDef="Type">
                    <th mat-header-cell *matHeaderCellDef>Vendor Type</th>
                    <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
                  </ng-container> -->

                  <ng-container matColumnDef="City">
                    <th mat-header-cell *matHeaderCellDef>City</th>
                    <td mat-cell *matCellDef="let element"> {{element.City}} </td>
                  </ng-container>

                  <ng-container matColumnDef="State">
                    <th mat-header-cell *matHeaderCellDef>State</th>
                    <td mat-cell *matCellDef="let element"> {{element.State}} </td>
                  </ng-container>

                  <ng-container matColumnDef="AccountGroup">
                    <th mat-header-cell *matHeaderCellDef>Account Group</th>
                    <td mat-cell *matCellDef="let element"> {{element.AccountGroup}} </td>
                  </ng-container>

                  <tr [ngClass]="BGClassName?.layout?.toolbar?.background" mat-header-row
                    *matHeaderRowDef="vendorDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: vendorDisplayedColumns;"></tr>
                </table>

              </div>
              <!-- <mat-divider></mat-divider> -->
            </div>
            <div fxFlex="30" class="pb-8">
              <div fxLayout>
                <div fxFlex class="p-12" align="end">
                  <button *ngIf="(SelectedRFQStatus | lowercase)!=='allocated'" mat-stroked-button
                    (click)="SaveRFQAllocation()">
                    Save
                  </button>
                  <button *ngIf="(SelectedRFQStatus | lowercase)!=='allocated'" (click)="SubmitRFQAllocation()"
                    [ngClass]="BGClassName?.layout?.toolbar?.background" class="ml-8" mat-raised-button>
                    Save & Publish
                  </button>
                </div>
              </div>
              <div class="mt-8 mx-60 mb-16 borderTop"></div>
              <div fxLayout fxLayoutAlign="center" class="borderClass m-8" *ngFor="let sup of SelectedVendorList">
                <div fxFlex="10" fxLayoutAlign="start center" class="borderRightClass pt-12">
                  <!-- <button class="mat-mini-fab mat-accent" (click)="RemoveSelectedVendor(sup.VendorCode)">
                    <span class="mat-button-wrapper">
                      <mat-icon>clear</mat-icon>
                    </span>
                  </button> -->
                  <div class="ml-4" *ngIf="(SelectedRFQStatus | lowercase)!=='allocated'">
                    <mat-icon class="customIcon" (click)="RemoveSelectedVendor(sup.VendorCode)">delete</mat-icon>
                  </div>

                </div>
                <div fxFlex="90" class="p-12">
                  <div class="boldClass">{{sup.VendorName}}</div>
                  <div class="boldClass">{{sup.VendorCode | removeLeadingZero}}</div>
                  <div>GST No : {{sup.GSTNumber}}</div>
                  <!-- <div>Vendor type : {{sup.Type}}</div> -->
                  <div>{{sup.City}}</div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion1" color="accent"
        mode="indeterminate"></mat-progress-spinner>
      <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
    </div>
  </div>

</div>