<div id="chat" class=" page-layout carded fullwidth" fusePerfectScrollbar>
  <div class="top-bg" [ngClass]="BGClassName?.layout?.toolbar?.background"></div>
  <div class="center" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="10">
    <div [ngClass]="BGClassName?.layout?.toolbar?.background" fxLayout="column" fxLayoutAlign="center"
      fxLayoutGap="10px" fxLayoutGap.xs="10">
      <div fxLayout class="layoutclass mt-12">
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                To be released
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{rfqStatusCount?.YetToConvert}} / {{rfqStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/YetToConvert.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                In progress
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{rfqStatusCount?.InProgress}} / {{rfqStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/InProcess.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                Allocated
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{rfqStatusCount?.Allocated}} / {{rfqStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/Allocated.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                Responded
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{rfqStatusCount?.Responded}} / {{rfqStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/Responded.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                Awarded
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{rfqStatusCount?.Awarded}} / {{rfqStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/Awarded.png">
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                Responded / Awarded
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{rfqStatusCount?.Responded}} / {{rfqStatusCount?.Awarded}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/Responded.png">
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div fxFlex class="mt-20">
      <mat-card class="fullHeight my-12">
        <!-- <mat-card-header>
          <mat-card-title>
            <div fxLayout="row">
              <div fxFlex class="borderRightClass">
                Hi
              </div>
              <div fxFlex>
                Hello
              </div>
            </div>
          </mat-card-title>
        </mat-card-header> -->
        <mat-card-content>
          <div fxLayout="row">
            <div fxFlex="1 1 Auto">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="RFQStatus" (change)="RFQStatusChange()">
                <mat-radio-button value="Open" class="borderRightClass mr-24 pr-24">To be released
                </mat-radio-button>
                <mat-radio-button value="InProgress" class="borderRightClass mr-24 pr-24">In Progress</mat-radio-button>
                <mat-radio-button value="Allocated" class="borderRightClass mr-24 pr-24">Allocated</mat-radio-button>
                <mat-radio-button value="All" class="mr-24 pr-24">All</mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex align="end" class="pb-8">
              <button [ngClass]="BGClassName?.layout?.toolbar?.background" mat-raised-button
                (click)="CreateRFQClicked()">
                Publish RFQ
              </button>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div fxLayout="row" class="mt-24">
            <div fxFlex="100">

              <table mat-table [dataSource]="RFQDataSource">

                <ng-container matColumnDef="RFQID">
                  <th mat-header-cell *matHeaderCellDef>RFQ</th>
                  <td mat-cell *matCellDef="let element">{{element.RFQID}}</td>
                </ng-container>

                <ng-container matColumnDef="RFQDate">
                  <th mat-header-cell *matHeaderCellDef>Date</th>
                  <td mat-cell *matCellDef="let element"> {{element.RFQDate | date:'dd-MM-yyyy hh:mm:ss a'}} </td>
                </ng-container>

                <ng-container matColumnDef="PurchaseOrganization">
                  <th mat-header-cell *matHeaderCellDef>P. Org.</th>
                  <td mat-cell *matCellDef="let element"> {{element.PurchaseOrganization}} </td>
                </ng-container>

                <ng-container matColumnDef="PurchaseGroup">
                  <th mat-header-cell *matHeaderCellDef>P. Group</th>
                  <td mat-cell *matCellDef="let element"> {{element.PurchaseGroup}} </td>
                </ng-container>

                <ng-container matColumnDef="CompanyCode">
                  <th mat-header-cell *matHeaderCellDef>C. Code</th>
                  <td mat-cell *matCellDef="let element"> {{element.CompanyCode}} </td>
                </ng-container>

                <ng-container matColumnDef="Buyer">
                  <th mat-header-cell *matHeaderCellDef>Buyer</th>
                  <td mat-cell *matCellDef="let element"> {{element.Buyer}} </td>
                </ng-container>

                <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef>Status</th>
                  <td mat-cell *matCellDef="let element">
                    <img *ngIf="(element.Status | lowercase)==='open'" class="mr-4" matTooltip="To be released"
                      src="assets/images/rfq/YetToConvert.png">
                    <img *ngIf="(element.Status | lowercase)==='inprogress'" class="mr-4" matTooltip="In progress"
                      src="assets/images/rfq/InProcess.png">
                    <img *ngIf="(element.Status | lowercase)==='allocated'" class="mr-4" matTooltip="Allocated"
                      src="assets/images/rfq/Allocated.png">
                    <img *ngIf="(element.Status | lowercase)==='responded'" class="mr-4" matTooltip="Responded"
                      src="assets/images/rfq/Responded.png">
                    <img *ngIf="(element.Status | lowercase)==='awarded'" class="mr-4" matTooltip="Awarded"
                      src="assets/images/rfq/Awarded.png">
                  </td>
                </ng-container>

                <!-- <ng-container matColumnDef="State">
                  <th mat-header-cell *matHeaderCellDef>State</th>
                  <td mat-cell *matCellDef="let element"> {{element.State}} </td>
                </ng-container>

                <ng-container matColumnDef="Publishing">
                  <th mat-header-cell *matHeaderCellDef>Publishing</th>
                  <td mat-cell *matCellDef="let element"> {{element.Publishing}} </td>
                </ng-container>

                <ng-container matColumnDef="Response">
                  <th mat-header-cell *matHeaderCellDef>Response</th>
                  <td mat-cell *matCellDef="let element"> {{element.Response}} </td>
                </ng-container>

                <ng-container matColumnDef="Awarded">
                  <th mat-header-cell *matHeaderCellDef>Awarded</th>
                  <td mat-cell *matCellDef="let element"> {{element.Awarded}} </td>
                </ng-container> -->

                <tr class="tableHeadBg" mat-header-row
                  *matHeaderRowDef="RFQColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: RFQColumns;" (click)="RowSelected(row)"
                  [class.highlight]="row === SelectedRFQ"></tr>
              </table>
              <div *ngIf="!RFQs?.length">
                <mat-icon style="color: #1b56ca;margin-top: 10px;margin-left: 70px">info</mat-icon>
                <span style="margin-left: 10px;">The table does not contain any data</span>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion1" color="accent"
        mode="indeterminate"></mat-progress-spinner>
      <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
    </div>
  </div>

</div>