
.Title{
    font-size:14px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

// ul li  :before {
//     color: #e32049;
//     // border-bottom: 1px solid #2979ff
// }
// ul,li{list-style:none;}
// li:before{content:"";font-weight:bold;}


.li{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #e32049;
}
.li2{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #2979ff;
}


.borderRight{
    border-left: 1px solid white;
    opacity: 0.4;
    border-radius: 1px;
}
.borderRight1{
    border-left: 1px solid black;
    opacity: 0.2;
    border-radius: 1px;
}

.li1{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #7b7b7b;
}

// mat-card{
//     border-radius: 20px;
// }

mat-option {color: #1b56ca}
.img-style{
    height:45px
}
.dropdownstyle{
    border-radius: 10px;
    border-color: #1b56ca;
    color: #1b56ca;
    padding: 3px;
}

select option {
    border-radius: 10px;
    background-color: white;

}
table {
    width: 100%;
    th{
     // background: #082f7d;
      color: white;
      //font-family: Ubuntu;
      // padding-left: 25px;
      padding: 5px;
      border-right: 1px solid #e0e0e0;
      font-size: 10px;

    }
    td{
        padding-left: 15px;
        border-right: 1px solid #1b56ca;
        padding: 5px;
        font-size: 10px;
    }
    tr{
      height: 40px;
    }
  }
  .divider{
    margin-top: -60px;
  }
  .mat-table{
    border: 1px solid #082f7d
  }
  .statusDone{
    width: 10px;
    height: 10px;
    display: block;
    /* border-radius: 2px; */
    background-color: green
  }
  .statusNotDone{
    width: 10px;
    display: block;
    height: 10px;
    border-radius: 10px;
    background-color: #e32049;
  }
  .disabled {
    cursor: not-allowed;
  }
  .statusPartiallyDone{
    width: 10px;
    height: 10px;
    display: block;
    background-color: #F4D03F;
  }

  .highlight{
    background: lightgray !important;
  }
  .tableCard{
    margin-bottom: 20px !important;
  }
  .ProgressBarPostion1 {
    position: absolute !important;
    top: 350px;
    z-index: 1;
    left: 55%;
  }
  .borderRightClass {
    border-right: 1px solid #dce1e9;
  }