<div id="vendor" class=" page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg" [ngClass]="BGClassName?.layout?.toolbar?.background"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER  margin-top: 20px;-->
  <div class="center" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="10">
    <div [ngClass]="BGClassName?.layout?.toolbar?.background" fxLayout="column" fxLayoutAlign="center"
      fxLayoutGap="10px" fxLayoutGap.xs="10">
      <div fxLayout>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                Yet-to-Accept
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%">
              <div style="margin-top: 5px;">
                <span style="color:#dddbdb">PO:</span>
                <span>{{DashbordStatus.PO}}</span>
              </div>
              <div style="margin-top: 5px">
                <span style="color:#dddbdb">From:</span>
                <span>{{DashbordStatus.FromDays}} Days</span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/dashboard/accept.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight" style="margin-right: 20px;"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                To-Ship
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div>
                <span style="color:#dddbdb">Open:</span>
                <span>{{DashbordStatus.ShipOpen}}</span>
              </div>
              <div style="margin-top: 5px">
                <span style="color:#dddbdb">Week:</span>
                <span> {{DashbordStatus.ShipWeek}}</span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/dashboard/box-icon.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight" style="margin-right: 20px;"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                In-Transit
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div>
                <span style="color:#dddbdb">In Transit:</span>
                <span>{{DashbordStatus.InTransit}}</span>
              </div>
              <div style="margin-top: 5px">
                <span style="color:#dddbdb">Received:</span>
                <span>{{DashbordStatus.TransitReceived}}</span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/dashboard/ship.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight" style="margin-right: 20px;"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                Payment
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white">
              <div>
                <span style="color:#dddbdb">Due:</span>
                <span> {{DashbordStatus.PaymentDue}}</span>
              </div>
              <div style="margin-top: 5px">
                <span style="color:#dddbdb">Received:</span>
                <span> {{DashbordStatus.PaymentReceived}}</span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/dashboard/payment.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div fxFlex>
      <div style="margin-top: 40px" fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center"
        fxLayoutGap="20px" fxLayoutGap.xs="20px">
        <mat-card fxFlex=60% fxFlex.ls="60">
          <div class="container" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="5px">
            <mat-card-header class="toolbar px-24 py-8">
              <span class="li"></span>
              <span style="margin-left: 15px">
                <mat-card-title> Scheduled-Delivery </mat-card-title>
              </span>
              <div fxFlex fxLayoutAlign="end end">
                <span style="margin-bottom: 20px;" class="li2"></span>
                <span style="margin-left: 15px">
                  <mat-card-title> Actual-Delivery </mat-card-title>
                </span>
              </div>
            </mat-card-header>
            <mat-card-content>
              <canvas *ngIf="showChart" width="565px " height="130px " baseChart [datasets]="widget5.data.datasets"
                [labels]="widget5.data.labels" [options]="widget5.options">
              </canvas>
            </mat-card-content>
          </div>
        </mat-card>
        <mat-card fxFlex=40% fxFlex.ls="40">
          <div class="container" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="5px">
            <mat-card-header>
              <div class="h3">
                <mat-card-title> <strong>Key-Order-Fulfillment-Metrics </strong></mat-card-title>
              </div>
              <div fxFlex fxLayout style="margin-right: 9px;margin-bottom: 8px;" fxLayoutAlign="end end">
                <select class="dropdownstyle" (change)="filterForeCasts($event.target.value)">
                  <option value="Month">Month</option>
                  <option value="Year">Year</option>
                </select>
              </div>
            </mat-card-header>
            <mat-divider class="divider"></mat-divider>
            <div *ngIf="selected === 'Month'">
              <mat-card-content>
                <div fxLayout="column" fxLayoutAlign="center">
                  <div fxLayout style="margin-top: 20px;">
                    <div fxFlex fxLayout="column">
                      <div fxFlex>
                        <div>
                          <span style="border-bottom: 1px solid">
                            <strong>OTIF</strong>
                          </span>
                        </div>
                        <div style="margin-left: 85px;margin-top: -15px">
                          <img style="height:18px;" src="assets/images/dashboard/selection-1.png">
                        </div>
                      </div>
                      <div fxFlex style="margin-top: 40px;" fxLayout fxLayoutAlign="center center">
                        <div fxFlex="60%">
                          <div>
                            <span style="font-size:25px">18%</span>
                          </div>
                          <div style="font-size:12px">
                            On-Time-In-Full
                          </div>
                        </div>
                        <div fxFlex>
                          <div class="pr-4 ra">
                            <img style="height: 40px;" src="assets/images/dashboard/otif.png">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="borderRight1"></div>
                    <div fxFlex fxLayout="column" style="margin-left: 11px !important">
                      <div fxFlex>
                        <div>
                          <span style="border-bottom: 1px solid">
                            <strong>Quality</strong>
                          </span>
                        </div>
                        <div style="margin-left: 85px;margin-top: -15px">
                          <img style="height:18px;" src="assets/images/dashboard/selection-1.png">
                        </div>
                      </div>
                      <div fxFlex style="margin-top: 40px;" fxLayout fxLayoutAlign="center center">
                        <div fxFlex="60%">
                          <div>
                            <span style="font-size:25px">98%</span>
                          </div>
                          <div style="font-size:12px">
                            2 Orders-Rejected
                          </div>
                        </div>
                        <div fxFlex>
                          <div class="pr-4 ra">
                            <img style="height: 40px;" src="assets/images/dashboard/quality.png">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </div>
            <div *ngIf="selected === 'Year'">
              <mat-card-content>
                <div fxLayout="column" fxLayoutAlign="center">
                  <div fxLayout style="margin-top: 20px;">
                    <div fxFlex fxLayout="column">
                      <div fxFlex>
                        <div>
                          <span style="border-bottom: 1px solid">
                            <strong>OTIF</strong>
                          </span>
                        </div>
                        <div style="margin-left: 85px;margin-top: -15px">
                          <img style="height:18px;" src="assets/images/dashboard/selection-2.png">

                        </div>
                      </div>
                      <div fxFlex style="margin-top: 40px;" fxLayout fxLayoutAlign="center center">
                        <div fxFlex="60%">
                          <div>
                            <span style="font-size:25px">18%</span>
                          </div>
                          <div style="font-size:12px">
                            On-Time-In-Full
                          </div>
                        </div>
                        <div fxFlex>
                          <div class="pr-4 ra">
                            <img style="height: 40px;" src="assets/images/dashboard/otif.png">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="borderRight1"></div>
                    <div fxFlex fxLayout="column" style="margin-left: 11px !important">
                      <div fxFlex>
                        <div>
                          <span style="border-bottom: 1px solid">
                            <strong>Quality</strong>
                          </span>
                        </div>
                        <div style="margin-left: 85px;margin-top: -15px">
                          <img style="height:18px;" src="assets/images/dashboard/selection-2.png">
                        </div>
                      </div>
                      <div fxFlex style="margin-top: 40px;" fxLayout fxLayoutAlign="center center">
                        <div fxFlex="60%">
                          <div>
                            <span style="font-size:25px">98%</span>
                          </div>
                          <div style="font-size:12px">
                            2 Orders-Rejected
                          </div>
                        </div>
                        <div fxFlex>
                          <div class="pr-4 ra">
                            <img style="height: 40px;" src="assets/images/dashboard/quality.png">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <div fxFlex>
      <div style="margin-top: 10px" fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="20px"
        fxLayoutGap.xs="20px">
        <div fxFlex=74% fxFlex.ls="74">
          <mat-card style="margin-bottom: 20px">
            <mat-card-header>
              <mat-card-title style="margin-left: 10px;margin-top:-5px"><strong>Order Fullfillment Status</strong>
              </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
              <div  style="text-align: start;margin-top: 10px;margin-bottom: -12px;background-color: #eaf2ff; ">
                <img class="m-8" style="height: 20px" matTooltip="ePurchase Order Download"
                  src="assets/images/dashboard/po-download.png">
                <img class="m-8" style="height: 20px" matTooltip="Purchase Order Look Up" (click)="PurchaseOrder()"
                  src="assets/images/dashboard/po-lookup.png">
                <img class="m-8" style="height: 20px" matTooltip="Order Acknowledgement"
                  (click)="OrderAcknowledgement()" src="assets/images/dashboard/order-acknowledgement.png">
                <img class="m-8" style="height: 20px" matTooltip="Create Advance Shipment Notification"
                  (click)="AdvanceShipment()" src="assets/images/dashboard/create-asn.png">
                <img class="m-8" style="height: 20px" matTooltip="Inspection Check"
                  src="assets/images/dashboard/inspection-check.png">
                <img class="m-8" style="height: 20px" matTooltip="Expediting Event"
                  src="assets/images/dashboard/expediting-event.png">
                <img class="m-8" style="height: 20px" matTooltip="Export Excel" src="assets/images/dashboard/excel.png">
              </div>
              <div style="text-align: end;margin-top: -40px;background-color: #eaf2ff;">
                <img class="m-8" style="height: 20px" matTooltip="Invoice Upload"
                  src="assets/images/dashboard/ivoice-upload.png">
                <img class="m-8" style="height: 20px" matTooltip="DisPute Management"
                  src="assets/images/dashboard/dispute-management.png">
                <img class="m-8" style="height: 20px" matTooltip="Expand All" src="assets/images/dashboard/resize.png">
              </div>
              <table style="margin-top: 10px;" mat-table [dataSource]="POListDataSource" matSort>

                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox> -->
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <!-- <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
                    </mat-checkbox> -->
                    <mat-checkbox (click)="GetPOID(element)"></mat-checkbox>
                  </td>
                  <!-- <td mat-cell *matCellDef="let element" *ngif="element.Select === 'true'">

                    <mat-checkbox></mat-checkbox> -->
                </ng-container>
                <!-- <ng-container matColumnDef="PO">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>PO</th>
                  <td mat-cell *matCellDef="let element">{{element.PO}}</td>
                </ng-container> -->

                <ng-container matColumnDef="PurchaseOrder">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Purchase Order</th>
                  <td mat-cell *matCellDef="let element"> {{element.PO}} </td>
                </ng-container>

                <ng-container matColumnDef="Item">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Item</th>
                  <td mat-cell *matCellDef="let element"> {{element.Item}} </td>
                </ng-container>

                <ng-container matColumnDef="PODate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>PO Date</th>
                  <td mat-cell *matCellDef="let element"> {{element.PODate | date : 'dd-MM-yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="Material">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Material</th>
                  <td mat-cell *matCellDef="let element"> {{element.Material}} </td>
                </ng-container>

                <ng-container matColumnDef="Description">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                  <td mat-cell *matCellDef="let element"> {{element.MaterialDescription}} </td>
                </ng-container>

                <ng-container matColumnDef="POQuantity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>PO Qty</th>
                  <td style="text-align: right;" mat-cell *matCellDef="let element"> {{element.OrderedQuantity}} </td>
                </ng-container>

                <ng-container matColumnDef="OrderUnit">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Unit </th>
                  <td mat-cell *matCellDef="let element"> {{element.UnitOfMeasure}} </td>
                </ng-container>

                <ng-container matColumnDef="QAStatus">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>QA Status </th>
                  <td mat-cell *matCellDef="let element">
                    <span
                      [ngClass]="{'statusNotDone': element.AcknowledgementStatus == 'New' || element.AcknowledgementStatus == 'Open','statusDone':element.AcknowledgementStatus == 'Closed'}"></span>
                  </td>
                  <!-- {{element.QAStatus}} -->
                </ng-container>

                <ng-container matColumnDef="ASNStatus">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ASN Status </th>
                  <td mat-cell *matCellDef="let element">
                    <span
                      [ngClass]="{'statusDone': element.ASNStatus == 'ASNCompleted' || element.ASNStatus == 'FrightCompleted','statusNotDone':element.ASNStatus == 'Cancelled','statusPartiallyDone':element.ASNStatus == 'Draft'}"></span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="Attechment">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <mat-icon>attach_file</mat-icon>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-icon>attach_file</mat-icon>
                  </td>
                </ng-container>
                <!-- <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>Select
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox style="margin-left: 15px" (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container> -->


                <tr [ngClass]="BGClassName?.layout?.toolbar?.background" mat-header-row
                  *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex=26% fxFlex.ls="26">
          <div>
            <mat-card>
              <mat-card-header style="margin-top: -10px;margin-left:-10px">
                <mat-card-title ><strong>My Notifications</strong>
                </mat-card-title>
              </mat-card-header>
              <mat-divider style="margin-top: -10px;"></mat-divider>
              <div>
                <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="0px">
                  <div>
                    <div class="pt-8 pr-8" fxLayoutAlign="end start">
                      Total Po Document - {{PONotifications.TotalPODocument}}
                    </div>
                    <div class="pt-8 pr-8" fxLayoutAlign="end start">
                      Open Po Document - {{PONotifications.OpenPODocument}}
                    </div>
                    <div class="pt-8 pr-8" fxLayoutAlign="end start">
                      In Transit - {{PONotifications.InTransit}}
                    </div>
                    <div class="pt-8 pr-8" fxLayoutAlign="end start">
                      ASN Pending - {{PONotifications.ASNPending}}
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
          </div>
          <div style="margin-top: 15px">
            <mat-card style="margin-top: -5px;margin-bottom: 20px">
              <mat-card-header style="margin-top: -10px;margin-left:-10px">
                <mat-card-title><strong>My Previous Requests</strong>
                </mat-card-title>
              </mat-card-header>
              <mat-divider style="margin-top: -10px;"></mat-divider>
              <div style="margin-top: -15px;">
                <mat-form-field style="width: 80%;margin-left: -10px">
                  <!-- <mat-label style="color: hsl(220, 76%, 45%)">Select</mat-label> -->
                  <mat-select [(value)]="selected1">
                    <mat-option value="option1">Advance Shipment Notification Requests</mat-option>
                    <mat-option value="option2">Joint Measurement Sheet Requests</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div style="margin-top: -7px;">
                <mat-form-field style="width: 95px;margin-left: -10px;margin-top: -20px">
                  <!-- <mat-label style="color: #1b56ca">Select</mat-label> -->
                  <mat-select [(value)]="selected2">
                    <!-- <mat-option>None</mat-option> -->
                    <mat-option value="option1">Drafted</mat-option>
                    <mat-option value="option2">Previous</mat-option>
                    <mat-option value="option3">Rejected</mat-option>
                    <mat-option value="option1">SentBack</mat-option>
                    <mat-option value="option2">Deleted</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <table style="margin-left: -10px;" mat-table [dataSource]="dataSource1" matSort>
                <ng-container matColumnDef="DraftID">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>DraftID</th>
                  <td mat-cell *matCellDef="let element"> {{element.DraftID}} </td>
                </ng-container>

                <ng-container matColumnDef="ServiceEnterSheetID">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>SheetID</th>
                  <td mat-cell *matCellDef="let element"> {{element.ServiceEnterSheetID}} </td>
                </ng-container>

                <ng-container matColumnDef="PurchaseOrder">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>PO</th>
                  <td mat-cell *matCellDef="let element"> {{element.PurchaseOrder}} </td>
                </ng-container>

                <ng-container matColumnDef="Amount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount</th>
                  <td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
                </ng-container>
                <tr [ngClass]="BGClassName?.layout?.toolbar?.background" mat-header-row
                  *matHeaderRowDef="displayedColumns1"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
              </table>
            </mat-card>
          </div>
        </div>
      </div>
    </div>

    <!-- <div fxFlex>
      <div fxFlex style="margin-top: 10px;margin-bottom: 20px;" fxLayout fxLayout.xs="column" fxLayout.sm="column"
        fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="20px">
        <mat-card fxFlex>
          <mat-card-header>
            <mat-card-title style="margin-left: 10px;margin-top:-5px"><strong>My-Activities</strong></mat-card-title>
          </mat-card-header>
          <mat-divider [inset]="true"></mat-divider>
          <mat-card-content style="margin-top: 30px">
            <mat-list>
              <mat-list-item>
                <span class="li"></span>
                <span style="margin-left: 25px;border-bottom: 1px solid #2979ff"><a style="color:#2979ff"
                    href="#">New-PO-is-released-408231</a></span>
              </mat-list-item>
              <mat-list-item>
                <span class="li"></span>
                <span style="margin-left: 25px;border-bottom: 1px solid #2979ff"><a style="color:#2979ff"
                    href="#">New-payment-released-for-ABCD</a></span>
              </mat-list-item>
              <mat-list-item>
                <span class="li"></span>
                <span style="margin-left: 25px;border-bottom: 1px solid #2979ff"><a style="color:#2979ff"
                    href="#">New-payment-released-for-DCEFGJ</a></span>
              </mat-list-item>
              <mat-list-item>
                <span class="li1"></span>
                <span
                  style="margin-left: 25px; color: #7b7b7b;border-bottom: 1px solid #7b7b7b">ASN-successfully-submitted</span>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex>
          <mat-card-header>
            <mat-card-title style="margin-left: 10px;margin-top: -5px"><strong>News-Information</strong>
            </mat-card-title>
          </mat-card-header>
          <mat-divider [inset]="true"></mat-divider>
          <mat-card-content style="margin-top: 30px">
            <mat-list>
              <mat-list-item>
                <span class="li"></span>
                <span style="margin-left: 25px;border-bottom: 1px solid #2979ff"><a style="color:#2979ff"
                    href="#">New-PO-is-released-408231</a></span>
              </mat-list-item>
              <mat-list-item>
                <span class="li"></span>
                <span style="margin-left: 25px;border-bottom: 1px solid #2979ff"><a style="color:#2979ff"
                    href="#">New-payment-released-for-ABCD</a></span>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div> -->

  </div>
</div>