<div id="chat" class=" page-layout carded fullwidth" fusePerfectScrollbar>
  <div class="top-bg" [ngClass]="BGClassName?.layout?.toolbar?.background"></div>
  <div class="center" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="10">
    <div [ngClass]="BGClassName?.layout?.toolbar?.background" fxLayout="column" fxLayoutAlign="center"
      fxLayoutGap="10px" fxLayoutGap.xs="10">
      <div fxLayout class="layoutclass">
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                RFQ Yet to Respond
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{rFQStatusCount?.ResponsePending}} / {{rFQStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/Responded.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                RFQ Responded
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{rFQStatusCount?.Responded}} / {{rFQStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/ResponsePending.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                RFQ Awarded
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{rFQStatusCount?.Awarded}} / {{rFQStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/Awarded.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex class="mt-20">
      <mat-card class="my-12 fullHeight">
        <mat-card-content>
          <div fxLayout="row">
            <div fxFlex="1 1 Auto">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="FilterValue" (change)="FilterValueChange()">
                <mat-radio-button value="All" class="borderRightClass mr-24 pr-24">All</mat-radio-button>
                <mat-radio-button value="ByMaterial" class="borderRightClass mr-24 pr-24">By Material</mat-radio-button>
                <mat-radio-button value="ByVendor" class="borderRightClass mr-24 pr-24">By Vendor</mat-radio-button>
                <mat-radio-button value="ByTechnicalRating" class="mr-24 pr-24">By Technical Rating</mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex align="end" class="pb-8">
              <button *ngIf="(CurrentUserRole | lowercase)==='procurement approver'"
                [ngClass]="BGClassName?.layout?.toolbar?.background" mat-raised-button (click)="SaveAndAssignClicked()">
                Save & Assign
              </button>
            </div>
          </div>
          <mat-divider [class.mt-4]="(CurrentUserRole | lowercase)==='procurement reviewer'"></mat-divider>
          <div fxLayout="row" class="mt-24">
            <table mat-table [dataSource]="RFQRankDataSource">
              <!-- <ng-container matColumnDef="Select">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (change)="onChangeChk($event,row)" [checked]="row.RFQID === SelectedRFQRank?.RFQID && row.ItemID===SelectedRFQRank?.ItemID&&
                    row.VendorID === SelectedRFQRank?.VendorID">
                  </mat-checkbox>
                </td>
              </ng-container> -->
              <ng-container matColumnDef="Parameter">
                <th mat-header-cell *matHeaderCellDef>Parameter</th>
                <td mat-cell *matCellDef="let element"> {{element.Parameter}} </td>
              </ng-container>

              <ng-container matColumnDef="VendorID1">
                <th mat-header-cell *matHeaderCellDef>Vendor 1</th>
                <td mat-cell *matCellDef="let element" (click)="VendorClicked(element.VendorID1)"
                  [class.highlight]="SelectedVendor&&element.VendorID1 === SelectedVendor">
                  <div fxLayout *ngIf="element.VendorID1">
                    <div fxFlex *ngIf="(element.Parameter | lowercase)!=='technical ratings'">
                      {{element.VendorName1}} ({{element.VendorID1 | removeLeadingZero}}) -
                      <span class="boldClass mx-4">{{element.VendorValue1}}</span>
                      <span class="boldClass" *ngIf="element.Parameter.includes('day')">days</span>
                      <span class="boldClass"
                        *ngIf="(element.Parameter | lowercase).includes('price')">{{element.Currency}}</span>
                    </div>
                    <div *ngIf="(element.Parameter | lowercase)==='technical ratings'">
                      {{element.VendorName1}}({{element.VendorID1 | removeLeadingZero}}) -
                    </div>
                    <div *ngIf="(element.Parameter | lowercase)==='technical ratings'">
                      <span class="boldClass mx-4">{{element.VendorValue1}}</span>
                    </div>
                    <div class="mx-4" fxFlex="1 1 auto" *ngIf="(element.Parameter | lowercase)==='technical ratings'">
                      <star-rating [value]="element.VendorValue1" checkedcolor="gold" uncheckedcolor="gray" size="12px"
                        readonly="true"> </star-rating>
                    </div>
                    <div fxFlex *ngIf="(element.Parameter | lowercase)==='technical ratings'">
                      <mat-icon (click)="GetRFQResponseTechRatings(element.VendorID1)">assessment</mat-icon>
                    </div>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="VendorID2">
                <th mat-header-cell *matHeaderCellDef>Vendor 2</th>
                <td mat-cell *matCellDef="let element" (click)="VendorClicked(element.VendorID2)"
                  [class.highlight]="SelectedVendor&&element.VendorID2 === SelectedVendor">
                  <div fxLayout *ngIf="element.VendorID2">
                    <div fxFlex *ngIf="(element.Parameter | lowercase)!=='technical ratings'">
                      {{element.VendorName2}}({{element.VendorID2 | removeLeadingZero}}) -
                      <span class="boldClass mx-4">{{element.VendorValue2}}</span>
                      <span class="boldClass" *ngIf="element.Parameter.includes('day')">days</span>
                      <span class="boldClass"
                        *ngIf="(element.Parameter | lowercase).includes('price')">{{element.Currency}}</span>
                    </div>
                    <div *ngIf="(element.Parameter | lowercase)==='technical ratings'">
                      {{element.VendorName2}}({{element.VendorID2 | removeLeadingZero}}) -
                    </div>
                    <div *ngIf="(element.Parameter | lowercase)==='technical ratings'">
                      <span class="boldClass mx-4">{{element.VendorValue2}}</span>
                    </div>
                    <div class="mx-4" fxFlex="1 1 auto" *ngIf="(element.Parameter | lowercase)==='technical ratings'">
                      <star-rating [value]="element.VendorValue2" checkedcolor="gold" uncheckedcolor="gray" size="12px"
                        readonly="true"> </star-rating>
                    </div>
                    <div fxFlex *ngIf="(element.Parameter | lowercase)==='technical ratings'">
                      <mat-icon (click)="GetRFQResponseTechRatings(element.VendorID2)">assessment</mat-icon>
                    </div>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="VendorID3">
                <th mat-header-cell *matHeaderCellDef>Vendor 3</th>
                <td mat-cell *matCellDef="let element" (click)="VendorClicked(element.VendorID3)"
                  [class.highlight]="SelectedVendor&&element.VendorID3 === SelectedVendor">
                  <div fxLayout *ngIf="element.VendorID3">
                    <div fxFlex *ngIf="(element.Parameter | lowercase)!=='technical ratings'">
                      {{element.VendorName3}} ({{element.VendorID3 | removeLeadingZero}}) -
                      <span class="boldClass mx-4">{{element.VendorValue3}}</span>
                      <span class="boldClass" *ngIf="element.Parameter.includes('day')">days</span>
                      <span class="boldClass"
                        *ngIf="(element.Parameter | lowercase).includes('price')">{{element.Currency}}</span>
                    </div>
                    <div *ngIf="(element.Parameter | lowercase)==='technical ratings'">
                      {{element.VendorName3}}({{element.VendorID3 | removeLeadingZero}}) -
                    </div>
                    <div *ngIf="(element.Parameter | lowercase)==='technical ratings'">
                      <span class="boldClass mx-4">{{element.VendorValue3}}</span>
                    </div>
                    <div class="mx-4" fxFlex="1 1 auto" *ngIf="(element.Parameter | lowercase)==='technical ratings'">
                      <star-rating [value]="element.VendorValue3" checkedcolor="gold" uncheckedcolor="gray" size="12px"
                        readonly="true"> </star-rating>
                    </div>
                    <div fxFlex *ngIf="(element.Parameter | lowercase)==='technical ratings'">
                      <mat-icon (click)="GetRFQResponseTechRatings(element.VendorID3)">assessment</mat-icon>
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr [ngClass]="BGClassName?.layout?.toolbar?.background" mat-header-row
                *matHeaderRowDef="RFQRankDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: RFQRankDisplayedColumns;"></tr>
            </table>
          </div>
          <div class="HeaderClass mt-12" *ngIf="(CurrentUserRole | lowercase)!=='procurement approver'">Supplier ratings</div>
          <div fxLayout="row" class="mt-4" *ngIf="(CurrentUserRole | lowercase)!=='procurement approver'">
            <form fxFlex name="form" [formGroup]="RFQResponseTechRatingFormGroup">
              <table mat-table [dataSource]="RFQResponseTechRatingDataSource" class="mat-elevation-z8"
                formArrayName="RFQResponseTechRatings">
                <tr [ngClass]="BGClassName?.layout?.toolbar?.background" mat-header-row
                  *matHeaderRowDef="RFQResponseTechRatingsColumns">
                </tr>
                <tr mat-row *matRowDef="let row;let i = index; columns: RFQResponseTechRatingsColumns;"></tr>

                <ng-container matColumnDef="VendorID">
                  <th mat-header-cell *matHeaderCellDef> Vendor ID </th>
                  <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput formControlName="VendorID" readonly>
                    <span class="pl-4 errorClass"
                      *ngIf="RFQResponseTechRatingFormGroup.get('RFQResponseTechRatings').controls[index].get('VendorID').touched && 
                  RFQResponseTechRatingFormGroup.get('RFQResponseTechRatings').controls[index].get('VendorID').hasError('required')">
                      *
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="VendorName">
                  <th mat-header-cell *matHeaderCellDef> Vendor Name </th>
                  <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput formControlName="VendorName" readonly>
                    <span class="pl-4 errorClass"
                      *ngIf="RFQResponseTechRatingFormGroup.get('RFQResponseTechRatings').controls[index].get('VendorName').touched && 
                  RFQResponseTechRatingFormGroup.get('RFQResponseTechRatings').controls[index].get('VendorName').hasError('required')">
                      *
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="TechRating">
                  <th mat-header-cell *matHeaderCellDef> Tech Rating </th>
                  <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <div fxLayout>
                      <div fxFlex="80">
                        <star-rating (rate)="onRate($event,index)"
                          [value]="RFQResponseTechRatingFormGroup.get('RFQResponseTechRatings').controls[index].get('TechRating').value"
                          checkedcolor="gold" uncheckedcolor="gray" size="20px"
                          [readonly]="(CurrentUserRole | lowercase)==='procurement approver'"> </star-rating>
                      </div>
                      <div fxFlex="20" class="mt-4 ml-4">
                        <span>({{RFQResponseTechRatingFormGroup.get('RFQResponseTechRatings').controls[index].get('TechRating').value | number : '1.2-2'}})</span>
                      </div>
                    </div>
                    <!-- <mat-form-field appearance="outline">
                      <input matInput formControlName="TechRating">
                    </mat-form-field>
                    <span class="pl-4 errorClass"
                      *ngIf="RFQResponseTechRatingFormGroup.get('RFQResponseTechRatings').controls[index].get('TechRating').touched && 
                  RFQResponseTechRatingFormGroup.get('RFQResponseTechRatings').controls[index].get('TechRating').hasError('required')">
                      *
                    </span> -->
                  </td>
                </ng-container>

                <ng-container matColumnDef="Comment">
                  <th mat-header-cell *matHeaderCellDef> Comment </th>
                  <td mat-cell style="width: 240px;" *matCellDef="let row; let index = index" [formGroupName]="index">
                    <mat-form-field appearance="outline">
                      <textarea cdkTextareaAutosize cdkAutosizeMinRows="3" matInput formControlName="Comment"
                        [readonly]="(CurrentUserRole | lowercase)==='procurement approver'"></textarea>
                    </mat-form-field>
                    <span class="pl-4 errorClass"
                      *ngIf="RFQResponseTechRatingFormGroup.get('RFQResponseTechRatings').controls[index].get('Comment').touched && 
                  RFQResponseTechRatingFormGroup.get('RFQResponseTechRatings').controls[index].get('Comment').hasError('required')">
                      *
                    </span>
                  </td>
                </ng-container>
              </table>
            </form>
          </div>
          <div fxLayout class="mt-12">
            <div fxFlex align="end" class="pb-8">
              <button *ngIf="(CurrentUserRole | lowercase)==='procurement reviewer'"
                [ngClass]="BGClassName?.layout?.toolbar?.background" mat-raised-button (click)="SaveClicked()">
                Save
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion1" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
  </div>
</div>