.Title {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  font-family: roboto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.sub-Title {
  color: #4a77fb;
}
.fullHeight {
  min-height: 90%;
}
.borderRightClass {
  border-right: 1px solid #dce1e9;
}
//   .roundedBorder{
//       border-radius: 10px;
//   }
table {
  width: 100%;
  th {
    // background: #082f7d;
    color: white !important;
    padding: 10px !important;
    border-right: 1px solid #e0e0e0;
  }
  td {
    padding-left: 15px !important;
    padding-right: 15px !important;
    border: 1px solid #1b56ca !important;
    // border-right: 1px solid #1b56ca;
  }
  tr {
    height: 40px;
    // border: 1px solid #1b56ca;
  }
}

table,
th,
tr,
td {
  //border: 1px solid #1b56ca !important;
  border-collapse: collapse;
}
.mat-table {
  border: 1px solid #082f7d;
}
.SaveBtnClass {
  background-color: #1b56ca !important;
  color: white !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: black !important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #3cb878 !important;
}

.ProgressBarPostion1 {
  position: absolute !important;
  top: 350px;
  z-index: 1;
  left: 55%;
}
.highlight {
  background: lightgray !important;
}
.img-style {
  height: 60px !important;
}
td img {
  height: 30px !important;
}
