<div id="chat" class=" page-layout carded fullwidth" fusePerfectScrollbar>
  <div class="top-bg" [ngClass]="BGClassName?.layout?.toolbar?.background"></div>
  <div class="center" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="10">
    <div [ngClass]="BGClassName?.layout?.toolbar?.background" fxLayout="column" fxLayoutAlign="center"
      fxLayoutGap="10px" fxLayoutGap.xs="10">
      <div fxLayout class="layoutclass">
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                RFQ Yet to Respond
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{rFQStatusCount?.ResponsePending}} / {{rFQStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/Responded.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                RFQ Responded
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{rFQStatusCount?.Responded}} / {{rFQStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/ResponsePending.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                RFQ Awarded
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{rFQStatusCount?.Awarded}} / {{rFQStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/Awarded.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex class="mt-20">
      <mat-card class="my-12 fullHeight">
        <mat-card-content>
          <div fxLayout="row">
            <div fxFlex="1 1 Auto">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="FilterValue" (change)="FilterValueChange()">
                <mat-radio-button value="All" class="borderRightClass mr-24 pr-24">All</mat-radio-button>
                <mat-radio-button value="ByMaterial" class="borderRightClass mr-24 pr-24">By Material</mat-radio-button>
                <mat-radio-button value="ByVendor" class="borderRightClass mr-24 pr-24">By Vendor</mat-radio-button>
                <mat-radio-button value="ByTechnicalRating" class="mr-24 pr-24">By Technical Rating</mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex align="end" class="pb-8">
              <button [ngClass]="BGClassName?.layout?.toolbar?.background" mat-raised-button (click)="SaveClicked()">
                Save & Asign
              </button>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div fxLayout="row" class="mt-24">
            <table mat-table [dataSource]="RFQRankDataSource">
              <!-- <ng-container matColumnDef="Select">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (change)="onChangeChk($event,row)" [checked]="row.RFQID === SelectedRFQRank?.RFQID && row.ItemID===SelectedRFQRank?.ItemID&&
                    row.VendorID === SelectedRFQRank?.VendorID">
                  </mat-checkbox>
                </td>
              </ng-container> -->
              <ng-container matColumnDef="Parameter">
                <th mat-header-cell *matHeaderCellDef>Parameter</th>
                <td mat-cell *matCellDef="let element"> {{element.Parameter}} </td>
              </ng-container>

              <ng-container matColumnDef="VendorID1">
                <th mat-header-cell *matHeaderCellDef>Vendor 1</th>
                <td mat-cell *matCellDef="let element" (click)="VendorClicked(element.VendorID1)"
                  [class.highlight]="SelectedVendor&&element.VendorID1 === SelectedVendor">
                  <span *ngIf="element.VendorID1"> {{element.VendorName1}} ({{element.VendorID1 | removeLeadingZero}}) -
                    <span class="boldClass mx-4">{{element.VendorValue1}} </span>
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="VendorID2">
                <th mat-header-cell *matHeaderCellDef>Vendor 2</th>
                <td mat-cell *matCellDef="let element" (click)="VendorClicked(element.VendorID2)"
                  [class.highlight]="SelectedVendor&&element.VendorID2 === SelectedVendor">
                  <span *ngIf="element.VendorID2"> {{element.VendorName2}} ({{element.VendorID2 | removeLeadingZero}}) -
                    <span class="boldClass mx-4">{{element.VendorValue2}} </span>
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="VendorID3">
                <th mat-header-cell *matHeaderCellDef>Vendor 3</th>
                <td mat-cell *matCellDef="let element" (click)="VendorClicked(element.VendorID3)"
                  [class.highlight]="SelectedVendor&&element.VendorID3 === SelectedVendor">
                  <span *ngIf="element.VendorID3"> {{element.VendorName3}} ({{element.VendorID3 | removeLeadingZero}}) -
                    <span class="boldClass mx-4">{{element.VendorValue3}} </span>
                  </span>
                </td>
              </ng-container>

              <tr [ngClass]="BGClassName?.layout?.toolbar?.background" mat-header-row
                *matHeaderRowDef="RFQRankDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: RFQRankDisplayedColumns;"></tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion1" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
  </div>
</div>