.Title {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  font-family: roboto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.sub-Title {
  color: #4a77fb;
}

.icon-style {
  background-color: #eaf2ff;
  margin-left: 272px;
  // margin-top: -4px;
  // margin-bottom: 2px;
  height: 35px;
  //border-radius: 26px;
}
.icon-style1 {
  background-color: #eaf2ff;
  height: 35px;
}

.borderRightClass {
  border-right: 1px solid #dce1e9;
}

table {
  width: 100%;
  th {
    // background: #082f7d;
    color: white !important;
    padding: 10px !important;
    border-right: 1px solid #e0e0e0;
  }
  td {
    padding-left: 8px !important;
    padding-right: 2px !important;
    border: 1px solid #1b56ca !important;
    // border-right: 1px solid #1b56ca;
  }
  tr {
    height: 40px;
    // border: 1px solid #1b56ca;
  }
}

table,
th,
tr,
td {
  // border: 1px solid #1b56ca !important;
  border-collapse: collapse;
}
.mat-table {
  border: 1px solid #082f7d;
}
.SaveBtnClass {
  background-color: #1b56ca !important;
  color: white !important;
}
.errorClass {
  color: red !important;
}
.ProgressBarPostion1 {
  position: absolute !important;
  top: 350px;
  z-index: 1;
  left: 55%;
}
.AttachIconDisable {
  color: #808080;
  cursor: default;
}
.CursorPointer {
  cursor: pointer;
}

input[disabled] {
  color: #808080 !important;
  // background-color: rgba(0, 0, 0, 0.38) !important;
}
// mat-input-element:disabled {
//   color: red;
// }
.negativeMargin {
  margin-top: -12px;
}
.img-style {
  height: 60px !important;
}
.example-list {
  // width: 500px;
  max-width: 100%;
  // border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 10px 10px;
  // margin: 8px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}
.GrayBg{
  background-color: #dddddd !important;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// .example-box:last-child {
//   border: none;
// }

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.UnderLine {
  text-decoration: underline;
}
