<div id="chat" class="page-layout carded fullwidth" fusePerfectScrollbar>
  <div class="top-bg" [ngClass]="BGClassName?.layout?.toolbar?.background"></div>
  <div class="center" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="10">
    <div [ngClass]="BGClassName?.layout?.toolbar?.background" fxLayout="column" fxLayoutAlign="center"
      fxLayoutGap="10px" fxLayoutGap.xs="10">
      <div fxLayout class="layoutclass">
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                Yet to convert RFQ
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{purchaseRequisitionStatusCount?.YetToConvert}} / {{purchaseRequisitionStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/YetToConvert.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                RFQ in progress
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{purchaseRequisitionStatusCount?.InProgress}} / {{purchaseRequisitionStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/InPrograss.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                RFQ Allocated
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{purchaseRequisitionStatusCount?.Allocated}} / {{purchaseRequisitionStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/Allocated.png">
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="borderRight mr-20"></div>
      <div fxFlex fxLayout="column">
        <div fxFlex>
          <div class="pt-8">
            <span class="Title">
              RFQ Allocated
            </span>
          </div>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="center center">
          <div fxFlex="60%" style="color:white;">
            <div class="pl-8">
              <span style="color:white;font-size:28px">
                {{purchaseRequisitionStatusCount?.YetToConvert}} / {{purchaseRequisitionStatusCount?.Allocated}}
              </span>
            </div>
          </div>
          <div fxFlex>
            <div class="pr-4 ra">
              <img class="img-style" src="assets/images/rfq/Allocated.png">
            </div>
          </div>
        </div>
      </div> -->
      </div>
    </div>
    <div fxFlex class="mt-20">
      <mat-card class="mb-16">
        <mat-card-header>
          <mat-card-title><strong>REQ ID : {{SelectedPurchaseRequisitionID}}</strong>
          </mat-card-title>
        </mat-card-header>
        <!-- <mat-divider style="margin-left: -25px" [inset]="true"></mat-divider> -->
        <mat-card-content>
          <form name="form" [formGroup]="RFQFormGroup">
            <div fxLayout="row" fxLayoutAlign="start">
              <div fxFlex="10" class="pt-8 pr-8" fxLayoutAlign="end start">
                <span style="font-size: 13px;">Title</span>
                <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('Title').touched && 
              RFQFormGroup.get('Title').hasError('required')">
                  *
                </span>
              </div>
              <mat-form-field appearance="outline" fxFlex="20">
                <input matInput formControlName="Title">
              </mat-form-field>
              <div fxFlex="10" class="pt-8 pr-8" fxLayoutAlign="end start">
                <span style="font-size: 13px;">Supply plant</span>
                <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('SupplyPlant').touched && 
              RFQFormGroup.get('SupplyPlant').hasError('required')">
                  *
                </span>
              </div>
              <mat-form-field appearance="outline" fxFlex="60">
                <input matInput formControlName="SupplyPlant">
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start">
              <div fxFlex="10" class="pt-8 pr-8" fxLayoutAlign="end start">
                <span style="font-size: 13px;">Currency</span>
                <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('Currency').touched && 
              RFQFormGroup.get('Currency').hasError('required')">
                  *
                </span>
              </div>
              <mat-form-field appearance="outline" fxFlex="20">
                <input matInput formControlName="Currency" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredCurrencyOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
                <!-- <mat-icon style="font-size: 17px;padding-left: 10px" matSuffix>filter_none</mat-icon> -->
              </mat-form-field>
              <div fxFlex="10" class="pt-8 pr-8" fxLayoutAlign="end start">
                <span style="font-size: 13px;">Opening date</span>
                <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('RFQStartDate').touched && 
              RFQFormGroup.get('RFQStartDate').hasError('required')">
                  *
                </span>
              </div>
              <mat-form-field appearance="outline" fxFlex="25">
                <input matInput [matDatepicker]="picker" formControlName="RFQStartDate" (keydown)="onKeydown($event)"
                  (dateChange)="RFQDateSelected()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <div fxFlex="10" class="pt-8 pr-8 pl-8" fxLayoutAlign="end start">
                <span style="font-size: 13px;">Validity start date</span>
                <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('RFQResponseStartDate').touched && 
              RFQFormGroup.get('RFQResponseStartDate').hasError('required')">
                  *
                </span>
              </div>
              <mat-form-field appearance="outline" fxFlex="25">
                <input matInput [matDatepicker]="picker1" formControlName="RFQResponseStartDate"
                  (keydown)="onKeydown($event)" (dateChange)="RFQResponseDateSelected()">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start">
              <div fxFlex="10" class="pt-8 pr-8" fxLayoutAlign="end start">
                <span style="font-size: 13px;">Inco term</span>
                <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('IncoTerm').touched && 
              RFQFormGroup.get('IncoTerm').hasError('required')">
                  *
                </span>
              </div>
              <mat-form-field appearance="outline" fxFlex="20">
                <input matInput formControlName="IncoTerm" [matAutocomplete]="auto1">
                <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
                  <mat-option *ngFor="let option of filteredIncoTermOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
                <!-- <mat-icon style="font-size: 17px;padding-left: 10px" matSuffix>filter_none</mat-icon> -->
              </mat-form-field>
              <div fxFlex="10" class="pt-8 pr-8" fxLayoutAlign="end start">
                <span style="font-size: 13px;">Closing date</span>
                <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('RFQEndDate').touched && 
                RFQFormGroup.get('RFQEndDate').hasError('required')">
                  *
                </span>
              </div>
              <div fxFlex="25" fxLayout="column">
                <mat-form-field appearance="outline" fxFlex>
                  <input matInput [matDatepicker]="picker2" formControlName="RFQEndDate" (keydown)="onKeydown($event)"
                    (dateChange)="RFQDateSelected()">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <span *ngIf="isRFQDateError" class="errorClass negativeMargin" fxFlex>
                  Closing date should not less than Opening date
                </span>
              </div>
              <div fxFlex="10" class="pt-8 pr-8 pl-8" fxLayoutAlign="end start">
                <span style="font-size: 13px;">Validity end date</span>
                <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('RFQResponseEndDate').touched && 
                RFQFormGroup.get('RFQResponseEndDate').hasError('required')">
                  *
                </span>
              </div>
              <div fxFlex="25" fxLayout="column">
                <mat-form-field appearance="outline">
                  <input matInput [matDatepicker]="picker3" formControlName="RFQResponseEndDate"
                    (keydown)="onKeydown($event)" (dateChange)="RFQResponseDateSelected()">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
                <span *ngIf="isRFQResponseDateError" class="errorClass negativeMargin" fxFlex>
                  Validity end date should not less than start date
                </span>
              </div>
            </div>
            <div class="mt-16 m-8">
              <strong class="sub-Title">Auto Evalution RFQ's</strong>
              <!-- <div fxLayout="row">
                <div fxFlex align="end">
                  <img class="p-8 icon-style1" matTooltip="Add" (click)="AddRFQItem()" src="assets/images/plus.png">
                  <img class="p-8 icon-style1" matTooltip="Remove" (click)="RemoveRFQItem()"
                    src="assets/images/error.png">
                </div>
              </div> -->
            </div>
            <table mat-table [dataSource]="RFQItemDataSource" class="mat-elevation-z8" formArrayName="RFQItems">
              <tr [ngClass]="BGClassName?.layout?.toolbar?.background" mat-header-row
                *matHeaderRowDef="RFQItemsColumns">
              </tr>
              <tr mat-row *matRowDef="let row;let i = index; columns: RFQItemsColumns;"></tr>

              <ng-container matColumnDef="ItemID">
                <th mat-header-cell *matHeaderCellDef> Item </th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                  <input matInput formControlName="ItemID">
                  <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('RFQItems').controls[index].get('ItemID').touched && 
              RFQFormGroup.get('RFQItems').controls[index].get('ItemID').hasError('required')">
                    *
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="MaterialDescription">
                <th mat-header-cell *matHeaderCellDef> Material Description </th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                  <input matInput formControlName="MaterialDescription">
                  <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('RFQItems').controls[index].get('MaterialDescription').touched && 
              RFQFormGroup.get('RFQItems').controls[index].get('MaterialDescription').hasError('required')">
                    *
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="OrderQuantity">
                <th mat-header-cell *matHeaderCellDef> Order Qty. </th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                  <input matInput formControlName="OrderQuantity">
                  <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('RFQItems').controls[index].get('OrderQuantity').touched && 
              RFQFormGroup.get('RFQItems').controls[index].get('OrderQuantity').hasError('required')">
                    *
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="UOM">
                <th mat-header-cell *matHeaderCellDef> UOM </th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                  <input matInput formControlName="UOM">
                  <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('RFQItems').controls[index].get('UOM').touched && 
              RFQFormGroup.get('RFQItems').controls[index].get('UOM').hasError('required')">
                    *
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="ExpectedDeliveryDate">
                <th mat-header-cell *matHeaderCellDef>Exp. Delivery Date</th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                  <input matInput [matDatepicker]="picker21" (click)="picker21.open()"
                    formControlName="ExpectedDeliveryDate">
                  <!-- <mat-datepicker-toggle matSuffix [for]="picker21"></mat-datepicker-toggle> -->
                  <mat-datepicker #picker21></mat-datepicker>
                  <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('RFQItems').controls[index].get('ExpectedDeliveryDate').touched && 
              RFQFormGroup.get('RFQItems').controls[index].get('ExpectedDeliveryDate').hasError('required')">
                    *
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="DelayDays">
                <th mat-header-cell *matHeaderCellDef> Delay Days </th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                  <input matInput formControlName="DelayDays">
                  <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('RFQItems').controls[index].get('DelayDays').touched && 
              RFQFormGroup.get('RFQItems').controls[index].get('DelayDays').hasError('required')">
                    *
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="Schedule">
                <th mat-header-cell *matHeaderCellDef>Schedule</th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                  <input matInput formControlName="Schedule">
                  <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('RFQItems').controls[index].get('Schedule').touched && 
              RFQFormGroup.get('RFQItems').controls[index].get('Schedule').hasError('required')">
                    *
                  </span>
                </td>

              </ng-container>

              <ng-container matColumnDef="Price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                  <input matInput formControlName="Price">
                  <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('RFQItems').controls[index].get('Price').touched && 
              RFQFormGroup.get('RFQItems').controls[index].get('Price').hasError('required')">
                    *
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="SupplierPartNumber">
                <th mat-header-cell *matHeaderCellDef> Supplier Part No. </th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                  <input matInput formControlName="SupplierPartNumber">
                  <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('RFQItems').controls[index].get('SupplierPartNumber').touched && 
              RFQFormGroup.get('RFQItems').controls[index].get('SupplierPartNumber').hasError('required')">
                    *
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="SelfLifeDays">
                <th mat-header-cell *matHeaderCellDef> Self Life Days </th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                  <input matInput formControlName="SelfLifeDays">
                  <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('RFQItems').controls[index].get('SelfLifeDays').touched && 
              RFQFormGroup.get('RFQItems').controls[index].get('SelfLifeDays').hasError('required')">
                    *
                  </span>
                </td>
              </ng-container>


              <ng-container matColumnDef="Attachment">
                <th mat-header-cell *matHeaderCellDef>Attachment</th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                  <!-- <mat-form-field>
                    <input matInput formControlName="NumberOfAttachments">
                    <button mat-button matPrefix mat-icon-button>
                      <mat-icon style="cursor: pointer;" (click)="fileInput1.click()">attach_file</mat-icon>
                    </button>
                  </mat-form-field> -->
                  <mat-icon [matBadge]="RFQFormGroup.get('RFQItems').controls[index].get('NumberOfAttachments')?.value" matBadgeColor="accent"
                  [ngClass]="RFQFormGroup.enabled?'CursorPointer':'AttachIconDisable'"
                    (click)="RFQFormGroup.enabled?fileInput1.click():false">attach_file
                  </mat-icon>
                  <!-- <span *ngIf="RFQFormGroup.get('RFQItems').controls[index].get('NumberOfAttachments')?.value"
                    [style.color]="RFQFormGroup.enabled?'inherit':'rgba(0, 0, 0, 0.38)'">
                    ({{RFQFormGroup.get('RFQItems').controls[index].get('NumberOfAttachments')?.value}})
                  </span> -->
                  <input hidden type="file" #fileInput1 id="file" (change)="handleFileInput($event,index)" />
                  <mat-icon *ngIf="RFQFormGroup.get('RFQItems').controls[index].get('NumberOfAttachments')?.value"
                    (click)="GetRFQItemAttachments(index)">image</mat-icon>
                  <!-- <input matInput formControlName="NumberOfAttachments"> -->
                </td>
              </ng-container>

              <!-- <ng-container matColumnDef="Schedule">
                <th mat-header-cell *matHeaderCellDef> Schedule </th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                  <input matInput formControlName="Schedule">
                  <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('RFQItems').controls[index].get('Schedule').touched && 
              RFQFormGroup.get('RFQItems').controls[index].get('Schedule').hasError('required')">
                    *
                  </span>
                </td>
              </ng-container> -->

              <ng-container matColumnDef="TechRating">
                <th mat-header-cell *matHeaderCellDef> Tech Rating </th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                  <input matInput formControlName="TechRating">
                  <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('RFQItems').controls[index].get('TechRating').touched && 
              RFQFormGroup.get('RFQItems').controls[index].get('TechRating').hasError('required')">
                    *
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="Notes">
                <th mat-header-cell *matHeaderCellDef> Notes </th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                  <input matInput formControlName="Notes">
                  <span class="pl-4 errorClass" *ngIf="RFQFormGroup.get('RFQItems').controls[index].get('Notes').touched && 
              RFQFormGroup.get('RFQItems').controls[index].get('Notes').hasError('required')">
                    *
                  </span>
                </td>
              </ng-container>
            </table>
            <!-- <table mat-table [dataSource]="RFQItemDataSource">

            <ng-container matColumnDef="Item">
              <th mat-header-cell *matHeaderCellDef>Item</th>
              <td mat-cell *matCellDef="let element">{{element.Item}}</td>
            </ng-container>

            <ng-container matColumnDef="MaterialDescription">
              <th mat-header-cell *matHeaderCellDef>Material Description </th>
              <td mat-cell *matCellDef="let element"> {{element.MaterialDescription}} </td>
            </ng-container>

            <ng-container matColumnDef="OrderQuantity">
              <th mat-header-cell *matHeaderCellDef>Order Qty</th>
              <td mat-cell *matCellDef="let element"> {{element.OrderQuantity}} </td>
            </ng-container>

            <ng-container matColumnDef="DelayDays">
              <th mat-header-cell *matHeaderCellDef>Delay Days</th>
              <td mat-cell *matCellDef="let element"> {{element.DelayDays}} </td>
            </ng-container>

            <ng-container matColumnDef="UOM">
              <th mat-header-cell *matHeaderCellDef>UOM</th>
              <td mat-cell *matCellDef="let element"> {{element.UOM}} </td>
            </ng-container>

            <ng-container matColumnDef="Price">
              <th mat-header-cell *matHeaderCellDef>Price</th>
              <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
            </ng-container>

            <ng-container matColumnDef="SupplierPartNo">
              <th mat-header-cell *matHeaderCellDef>Supplier Part No</th>
              <td mat-cell *matCellDef="let element"> {{element.SupplierPartNo}} </td>
            </ng-container>

            <ng-container matColumnDef="Schedule">
              <th mat-header-cell *matHeaderCellDef>Schedule</th>
              <td mat-cell *matCellDef="let element"> {{element.Schedule}} </td>
            </ng-container>

            <ng-container matColumnDef="Attachment">
              <th mat-header-cell *matHeaderCellDef>Attachment</th>
              <td mat-cell *matCellDef="let element">
                <mat-icon>attach_file</mat-icon> ({{element.Attachment}})
              </td>
            </ng-container>

            <ng-container matColumnDef="Forms">
              <th mat-header-cell *matHeaderCellDef>Forms</th>
              <td mat-cell *matCellDef="let element"> {{element.Forms}} </td>
            </ng-container>

            <ng-container matColumnDef="TechRating">
              <th mat-header-cell *matHeaderCellDef>Tech. Rating</th>
              <td mat-cell *matCellDef="let element"> {{element.TechRating}} </td>
            </ng-container>

            <tr [ngClass]="BGClassName?.layout?.toolbar?.background" mat-header-row *matHeaderRowDef="displayedColumns">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table> -->
            <div fxLayout="row">
              <div fxFlex class="mt-12" align="end">
                <button *ngIf="(SelectedRFQStatus | lowercase)==='open'"
                  [ngClass]="BGClassName?.layout?.toolbar?.background" mat-raised-button (click)="SubmitRFQDetails()">
                  Save
                </button>
                <button *ngIf="(SelectedRFQStatus | lowercase)==='inprogress'"
                  [ngClass]="BGClassName?.layout?.toolbar?.background" mat-raised-button (click)="GoToAllocateRFQ()">
                  Allocate Vendor
                </button>
                <button *ngIf="(SelectedRFQStatus | lowercase)==='allocated'"
                  [ngClass]="BGClassName?.layout?.toolbar?.background" mat-raised-button (click)="GoToAllocateRFQ()">
                  Review Vendor allocation
                </button>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
      <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion1" color="accent"
        mode="indeterminate"></mat-progress-spinner>
      <div id="overlay" *ngIf="IsProgressBarVisibile"></div>

    </div>

  </div>

</div>