<div id="chat" class=" page-layout carded fullwidth" fusePerfectScrollbar>
  <div class="top-bg" [ngClass]="BGClassName?.layout?.toolbar?.background"></div>
  <div class="center" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="10">
    <div [ngClass]="BGClassName?.layout?.toolbar?.background" fxLayout="column" fxLayoutAlign="center"
    fxLayoutGap="10px" fxLayoutGap.xs="10">
    <div fxLayout class="layoutclass">
      <div fxFlex fxLayout="column">
        <div fxFlex>
          <div class="pt-8">
            <span class="Title">
              RFQ Yet to Respond
            </span>
          </div>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="center center">
          <div fxFlex="60%">
            <div class="pl-8">
              <span style="color:white;font-size:28px">
                {{rFQStatusCount?.ResponsePending}} / {{rFQStatusCount?.All}}
              </span>
            </div>
          </div>
          <div fxFlex>
            <div class="pr-4 ra">
              <img class="img-style" src="assets/images/rfq/Responded.png">
            </div>
          </div>
        </div>
      </div>
      <div class="borderRight mr-20"></div>
      <div fxFlex fxLayout="column">
        <div fxFlex>
          <div class="pt-8">
            <span class="Title">
              RFQ Responded
            </span>
          </div>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="center center">
          <div fxFlex="60%" style="color:white;">
            <div class="pl-8">
              <span style="color:white;font-size:28px">
                {{rFQStatusCount?.Responded}} / {{rFQStatusCount?.All}}
              </span>
            </div>
          </div>
          <div fxFlex>
            <div class="pr-4 ra">
              <img class="img-style" src="assets/images/rfq/ResponsePending.png">
            </div>
          </div>
        </div>
      </div>
      <div class="borderRight mr-20"></div>
      <div fxFlex fxLayout="column">
        <div fxFlex>
          <div class="pt-8">
            <span class="Title">
              RFQ Awarded
            </span>
          </div>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="center center">
          <div fxFlex="60%" style="color:white;">
            <div class="pl-8">
              <span style="color:white;font-size:28px">
                {{rFQStatusCount?.Awarded}} / {{rFQStatusCount?.All}}
              </span>
            </div>
          </div>
          <div fxFlex>
            <div class="pr-4 ra">
              <img class="img-style" src="assets/images/rfq/Awarded.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div fxFlex class="mt-20">
      <mat-card class="my-12 fullHeight">
        <mat-card-content>
          <div fxLayout="row">
            <div fxFlex="30" class="boldClass">
              <span>Purchase requisition : {{SelectedPurchaseRequisition?.PurchaseRequisitionID}}</span>
            </div>
            <div fxFlex="25" class="boldClass">
              <span>RFQ ID : {{SelectedPurchaseRequisition?.RFQID}}</span>
            </div>
            <div *ngIf="RFQRanks.length" fxFlex="45" class="boldClass">
              <span>Vendor : {{RFQRanks[0].VendorName }} ({{RFQRanks[0].VendorID | removeLeadingZero}})</span>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div fxLayout="row" class="mt-24">
            <table mat-table [dataSource]="RFQRankDataSource">
              <!-- <ng-container matColumnDef="Select">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container> -->
              <!-- <ng-container matColumnDef="VendorName">
                <th mat-header-cell *matHeaderCellDef>Vendor name & Vendor code</th>
                <td mat-cell *matCellDef="let element">{{element.VendorName }} ({{element.VendorID}})</td>
              </ng-container> -->

              <ng-container matColumnDef="MaterialDescription">
                <th mat-header-cell *matHeaderCellDef>Item Description</th>
                <td mat-cell *matCellDef="let element"> {{element.MaterialDescription}} </td>
              </ng-container>

              <ng-container matColumnDef="OrderQuantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let element"> {{element.OrderQuantity}} </td>
              </ng-container>

              <ng-container matColumnDef="UOM">
                <th mat-header-cell *matHeaderCellDef>UOM</th>
                <td mat-cell *matCellDef="let element"> {{element.UOM}} </td>
              </ng-container>

              <ng-container matColumnDef="DelayDays">
                <th mat-header-cell *matHeaderCellDef>Delay Days</th>
                <td mat-cell *matCellDef="let element"> {{element.DelayDays}} </td>
              </ng-container>

              <ng-container matColumnDef="Schedule">
                <th mat-header-cell *matHeaderCellDef>Schedule</th>
                <td mat-cell *matCellDef="let element"> {{element.Schedule}} </td>
              </ng-container>

              <ng-container matColumnDef="Price">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
              </ng-container>

              <ng-container matColumnDef="SelfLifeDays">
                <th mat-header-cell *matHeaderCellDef>Self Life Days</th>
                <td mat-cell *matCellDef="let element"> {{element.SelfLifeDays}} </td>
              </ng-container>

              <ng-container matColumnDef="BestForItems">
                <th mat-header-cell *matHeaderCellDef>Best For</th>
                <td mat-cell *matCellDef="let element">
                  <img *ngIf="element.BestForItems.indexOf('Price')>-1" class="mr-4" matTooltip="Price"
                    src="assets/images/money-bag.png">
                  <img *ngIf="element.BestForItems.indexOf('DelayDays')>-1" class="mr-4" matTooltip="DelayDays"
                    src="assets/images/alarm-clock.png">
                  <img *ngIf="element.BestForItems.indexOf('Schedule')>-1" class="mr-4" matTooltip="Schedule"
                    src="assets/images/calendar-color.png">
                  <img *ngIf="element.BestForItems.indexOf('SelfLifeDays')>-1" matTooltip="SelfLifeDays"
                    src="assets/images/star.png">
                </td>
              </ng-container>

              <tr [ngClass]="BGClassName?.layout?.toolbar?.background" mat-header-row
                *matHeaderRowDef="RFQRankDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: RFQRankDisplayedColumns;" (click)="RowSelected(row)"
                [class.highlight]="row === SelectedRFQRank"></tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion1" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
  </div>
</div>