<div id="chat" class="page-layout carded fullwidth" fusePerfectScrollbar>
  <div class="top-bg" [ngClass]="BGClassName?.layout?.toolbar?.background"></div>
  <div class="center" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="10">
    <div [ngClass]="BGClassName?.layout?.toolbar?.background" fxLayout="column" fxLayoutAlign="center"
      fxLayoutGap="10px" fxLayoutGap.xs="10">
      <div fxLayout class="layoutclass">
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                To be Responded
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{rFQStatusCount?.ResponsePending}} / {{rFQStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/ResponsePending.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                Responded
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{rFQStatusCount?.Responded}} / {{rFQStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/Responded.png">
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                Archived
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{rFQStatusCount?.Archived}} / {{rFQStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/Archived.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                In Validity
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{rFQStatusCount?.WithInValidity}} / {{rFQStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/InPrograss.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                Validity upcoming
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{rFQStatusCount?.UpcomingValidity}} / {{rFQStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/YetToConvert.png">
              </div>
            </div>
          </div>
        </div> -->
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                Expired
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div class="pl-8">
                <span style="color:white;font-size:28px">
                  {{rFQStatusCount?.OveredValidity}} / {{rFQStatusCount?.All}}
                </span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/rfq/Allocated.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex class="mt-20">
      <mat-card class="mb-16" style="min-height: 80vh;">
        <!-- <mat-card-header>
          <mat-card-title><strong>RFQ ID : {{SelectedRFQID?SelectedRFQID:''}}</strong>
          </mat-card-title>
        </mat-card-header> -->
        <!-- <mat-divider style="margin-left: -25px" [inset]="true"></mat-divider> -->
        <mat-card-content fxLayout="column" fxLayoutAlign="start" fxFlex>
          <strong>RFQ ID : {{SelectedRFQID?SelectedRFQID:''}}</strong>
          <div fxLayout fxLayoutAlign="start">
            <div fxFlex>
              <form name="form" [formGroup]="RFQResponseFormGroup">
                <div fxLayout="row" fxLayoutAlign="start">
                  <div fxFlex="10" class="pt-8 pr-8" fxLayoutAlign="end start">
                    <span style="font-size: 13px;">Title</span>
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('Title').touched && 
                  RFQResponseFormGroup.get('Title').hasError('required')">
                      *
                    </span>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="20">
                    <input matInput formControlName="Title">
                  </mat-form-field>
                  <div fxFlex="10" class="pt-8 pr-8" fxLayoutAlign="end start">
                    <span style="font-size: 13px;">Supplier plant</span>
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('SupplyPlant').touched && 
                  RFQResponseFormGroup.get('SupplyPlant').hasError('required')">
                      *
                    </span>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="25">
                    <input matInput formControlName="SupplyPlant">
                  </mat-form-field>

                  <div fxFlex="10" class="pt-8 pr-8" fxLayoutAlign="end start">
                    <span style="font-size: 13px;">Bank Guarantee</span>
                    <!-- <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('BankGuarantee').touched && 
                  RFQResponseFormGroup.get('BankGuarantee').hasError('required')">
                    *
                  </span> -->
                  </div>
                  <!-- <mat-form-field appearance="outline" fxFlex="20"> -->
                  <div fxFlex="25">
                    <mat-checkbox class="m-4" formControlName="BankGuarantee">
                    </mat-checkbox>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start">
                  <div fxFlex="10" class="pt-8 pr-8" fxLayoutAlign="end start">
                    <span style="font-size: 13px;">Currency</span>
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('Currency').touched && 
                  RFQResponseFormGroup.get('Currency').hasError('required')">
                      *
                    </span>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="20">
                    <input matInput formControlName="Currency">
                    <!-- <mat-icon style="font-size: 17px;padding-left: 10px" matSuffix>filter_none</mat-icon> -->
                  </mat-form-field>
                  <div fxFlex="10" class="pt-8 pr-8" fxLayoutAlign="end start">
                    <span style="font-size: 13px;">Opening date</span>
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('RFQStartDate').touched && 
                  RFQResponseFormGroup.get('RFQStartDate').hasError('required')">
                      *
                    </span>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="25">
                    <input matInput [matDatepicker]="picker" formControlName="RFQStartDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <div fxFlex="10" class="pt-8 pr-8 pl-8" fxLayoutAlign="end start">
                    <span style="font-size: 13px;">Validity start date</span>
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('RFQResponseStartDate').touched && 
                  RFQResponseFormGroup.get('RFQResponseStartDate').hasError('required')">
                      *
                    </span>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="25">
                    <input matInput [matDatepicker]="picker1" formControlName="RFQResponseStartDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start">
                  <div fxFlex="10" class="pt-8 pr-8" fxLayoutAlign="end start">
                    <span style="font-size: 13px;">Inco term</span>
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('IncoTerm').touched && 
                  RFQResponseFormGroup.get('IncoTerm').hasError('required')">
                      *
                    </span>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="20">
                    <input matInput formControlName="IncoTerm">
                    <!-- <mat-icon style="font-size: 17px;padding-left: 10px" matSuffix>filter_none</mat-icon> -->
                  </mat-form-field>
                  <div fxFlex="10" class="pt-8 pr-8" fxLayoutAlign="end start">
                    <span style="font-size: 13px;">Closing date</span>
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('RFQEndDate').touched && 
                    RFQResponseFormGroup.get('RFQEndDate').hasError('required')">
                      *
                    </span>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="25">
                    <input matInput [matDatepicker]="picker2" formControlName="RFQEndDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                  <div fxFlex="10" class="pt-8 pr-8 pl-8" fxLayoutAlign="end start">
                    <span style="font-size: 13px;">Validity end date</span>
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('RFQResponseEndDate').touched && 
                    RFQResponseFormGroup.get('RFQResponseEndDate').hasError('required')">
                      *
                    </span>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="25">
                    <input matInput [matDatepicker]="picker3" formControlName="RFQResponseEndDate">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start">
                  <div fxFlex="10" class="pt-8 pr-8" fxLayoutAlign="end start">
                    <span style="font-size: 13px;">Name</span>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="20">
                    <input matInput formControlName="Name">
                  </mat-form-field>
                  <div fxFlex="10" class="pt-8 pr-8" fxLayoutAlign="end start">
                    <span style="font-size: 13px;">Email</span>
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('Email').touched && 
                    RFQResponseFormGroup.get('Email').hasError('email')">
                      *
                    </span>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="25">
                    <input matInput formControlName="Email">
                  </mat-form-field>

                  <div fxFlex="10" class="pt-8 pr-8" fxLayoutAlign="end start">
                    <span style="font-size: 13px;">Contact number</span>
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('ContactNumber').touched && 
                  RFQResponseFormGroup.get('ContactNumber').hasError('required')">
                      *
                    </span>
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('ContactNumber').touched && 
                  !RFQResponseFormGroup.get('ContactNumber').hasError('required') && 
                  RFQResponseFormGroup.get('ContactNumber').hasError('pattern')">
                      *
                    </span>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="25">
                    <input matInput formControlName="ContactNumber" pattern="^(\+91[\-\s]?)?[0]?(91)?[6789]\d{9}$">
                  </mat-form-field>
                  <!-- <div fxFlex="10" class="pt-8 pr-8" fxLayoutAlign="end start">
                  <span style="font-size: 13px;">Bank Guarantee</span>
                </div>
                <mat-checkbox class="m-4" formControlName="BankGuarantee">
                </mat-checkbox> -->
                </div>
                <div class="mt-16 m-8">
                  <!-- <strong class="sub-Title">Auto Evalution RFQ's</strong> -->
                </div>
              </form>

            </div>
          </div>
          <!-- <div style="overflow-x:auto;overflow-y: hidden;"> -->
          <div fxLayout fxLayoutAlign="start" fxFlex="1 0 auto">
            <div fxFlex="40">
              <table mat-table [dataSource]="RFQResponseItemDataSource">
                <!-- <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container> -->

                <ng-container matColumnDef="IsResponded">
                  <th mat-header-cell *matHeaderCellDef>
                  </th>
                  <td mat-cell *matCellDef="let element; let index = index">
                    <mat-checkbox (change)="onChangeChk($event,element)" [checked]="element.IsResponded">
                    </mat-checkbox>
                  </td>
                </ng-container>

                <ng-container matColumnDef="ItemID">
                  <th mat-header-cell *matHeaderCellDef>Item ID</th>
                  <td mat-cell *matCellDef="let element">{{element.ItemID}}</td>
                </ng-container>

                <ng-container matColumnDef="MaterialDescription">
                  <th mat-header-cell *matHeaderCellDef>Mat. Des.</th>
                  <td mat-cell *matCellDef="let element">{{element.MaterialDescription}}</td>
                </ng-container>

                <ng-container matColumnDef="OrderQuantity">
                  <th mat-header-cell *matHeaderCellDef>Ord. Qty</th>
                  <td mat-cell *matCellDef="let element"> {{element.OrderQuantity}} </td>
                </ng-container>


                <ng-container matColumnDef="UOM">
                  <th mat-header-cell *matHeaderCellDef>UOM</th>
                  <td mat-cell *matCellDef="let element"> {{element.UOM}} </td>
                </ng-container>

                <ng-container matColumnDef="Attachment">
                  <th mat-header-cell *matHeaderCellDef>Attachment</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-icon [matBadge]="element.NumberOfAttachments" matBadgeColor="accent" class="AttachIconDisable">
                      attach_file
                    </mat-icon>
                    <!-- <input hidden type="file" #fileInput1 id="file" (change)="handleFileInput($event,index)" /> -->
                    <mat-icon class="ml-8" *ngIf="element.NumberOfAttachments" (click)="GetRFQItemAttachments(element.ItemID)">
                      image</mat-icon>
                    <!-- <mat-icon (click)="FillItemDetails(element)">edit</mat-icon> -->
                  </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                  <th mat-header-cell *matHeaderCellDef>Action</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-icon (click)="FillItemDetails(element)">edit</mat-icon>
                  </td>
                </ng-container>

                <tr class="tableHeadBg" mat-header-row *matHeaderRowDef="RFQResponseItemsColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: RFQResponseItemsColumns;"></tr>
              </table>
            </div>
            <div fxFlex="60">
              <mat-card *ngIf="SelectedItemID" class="p-8 mx-8">
                <form name="form" [formGroup]="RFQResponseItemFormGroup">
                  <div fxLayout="row wrap" fxLayoutAlign="start">
                    <div fxFlex="20" class="pt-8 pr-8" fxLayoutAlign="end start">
                      <span style="font-size: 13px;">Manufacturer</span>
                      <span class="pl-4 errorClass" *ngIf="RFQResponseItemFormGroup.get('Manufacturer').touched && 
                    RFQResponseItemFormGroup.get('Manufacturer').hasError('required')">
                        *
                      </span>
                    </div>
                    <mat-form-field appearance="outline" fxFlex="30">
                      <input matInput formControlName="Manufacturer">
                    </mat-form-field>

                    <div fxFlex="20" class="pt-8 pr-8" fxLayoutAlign="end start">
                      <span style="font-size: 13px;">Delivery Date</span>
                      <span class="pl-4 errorClass" *ngIf="RFQResponseItemFormGroup.get('DeliveryDate').touched && 
                    RFQResponseItemFormGroup.get('DeliveryDate').hasError('required')">
                        *
                      </span>
                    </div>
                    <mat-form-field appearance="outline" fxFlex="30">
                      <input matInput [matDatepicker]="picker21" formControlName="DeliveryDate"
                        (keydown)="onKeydown($event)" [min]="RFQResponseItemFormGroup.get('ExpectedDeliveryDate').value"
                        (dateChange)="DateSelected($event)">
                      <mat-datepicker-toggle matSuffix [for]="picker21"></mat-datepicker-toggle>
                      <mat-datepicker #picker21></mat-datepicker>
                    </mat-form-field>


                    <div fxFlex="20" class="pt-8 pr-8" fxLayoutAlign="end start">
                      <span style="font-size: 13px;">Delay Days</span>
                      <span class="pl-4 errorClass" *ngIf="RFQResponseItemFormGroup.get('DelayDays').touched && 
                    RFQResponseItemFormGroup.get('DelayDays').hasError('required')">
                        *
                      </span>
                    </div>
                    <mat-form-field appearance="outline" fxFlex="30">
                      <input matInput formControlName="DelayDays">
                    </mat-form-field>

                    <div fxFlex="20" class="pt-8 pr-8" fxLayoutAlign="end start">
                      <span style="font-size: 13px;">Schedule</span>
                      <span class="pl-4 errorClass" *ngIf="RFQResponseItemFormGroup.get('Schedule').touched && 
                    RFQResponseItemFormGroup.get('Schedule').hasError('required')">
                        *
                      </span>
                      <span class="pl-4 errorClass" *ngIf="RFQResponseItemFormGroup.get('Schedule').touched && 
                      !RFQResponseItemFormGroup.get('Schedule').hasError('required') &&
                      RFQResponseItemFormGroup.get('Schedule').hasError('pattern')">
                        *
                      </span>
                    </div>
                    <mat-form-field appearance="outline" fxFlex="30">
                      <input matInput formControlName="Schedule" pattern="^[1-9]\d*$">
                    </mat-form-field>
                    <div fxFlex="20" class="pt-8 pr-8" fxLayoutAlign="end start">
                      <span style="font-size: 13px;">Price</span>
                      <span class="pl-4 errorClass" *ngIf="RFQResponseItemFormGroup.get('Price').touched && 
                    RFQResponseItemFormGroup.get('Price').hasError('required')">
                        *
                      </span>
                    </div>
                    <mat-form-field appearance="outline" fxFlex="30">
                      <input matInput formControlName="Price">
                    </mat-form-field>
                    <div fxFlex="20" class="pt-8 pr-8" fxLayoutAlign="end start">
                      <span style="font-size: 13px;">Payment Terms</span>
                      <span class="pl-4 errorClass" *ngIf="RFQResponseItemFormGroup.get('PaymentTerms').touched && 
                    RFQResponseItemFormGroup.get('PaymentTerms').hasError('required')">
                        *
                      </span>
                    </div>
                    <mat-form-field appearance="outline" fxFlex="30">
                      <input matInput formControlName="PaymentTerms">
                    </mat-form-field>
                    <div fxFlex="20" class="pt-8 pr-8" fxLayoutAlign="end start">
                      <span style="font-size: 13px;">Supplier Part No.</span>
                      <span class="pl-4 errorClass" *ngIf="RFQResponseItemFormGroup.get('SupplierPartNumber').touched && 
                    RFQResponseItemFormGroup.get('SupplierPartNumber').hasError('required')">
                        *
                      </span>
                    </div>
                    <mat-form-field appearance="outline" fxFlex="30">
                      <input matInput formControlName="SupplierPartNumber">
                    </mat-form-field>
                    <div fxFlex="20" class="pt-8 pr-8" fxLayoutAlign="end start">
                      <span style="font-size: 13px;">Self Life Days</span>
                      <span class="pl-4 errorClass" *ngIf="RFQResponseItemFormGroup.get('SelfLifeDays').touched && 
                    RFQResponseItemFormGroup.get('SelfLifeDays').hasError('required')">
                        *
                      </span>
                      <span class="pl-4 errorClass" *ngIf="RFQResponseItemFormGroup.get('SelfLifeDays').touched && 
                      !RFQResponseItemFormGroup.get('SelfLifeDays').hasError('required')&&
                      RFQResponseItemFormGroup.get('SelfLifeDays').hasError('pattern')">
                        *
                      </span>
                    </div>
                    <mat-form-field appearance="outline" fxFlex="30">
                      <input matInput formControlName="SelfLifeDays" pattern="^[1-9]\d*$">
                    </mat-form-field>


                  </div>
                  <div fxLayout fxLayoutAlign="space-between" class="mt-16 m-8">
                    <div fxFlex>
                      <button (click)="CloseItemDetails()" mat-raised-button>Close Item</button>
                    </div>
                    <div fxFlex align="end">
                      <button (click)="UpdateItemDetails()" [ngClass]="BGClassName?.layout?.toolbar?.background"
                        mat-raised-button>Save Item</button>
                    </div>
                  </div>
                </form>
              </mat-card>
            </div>
          </div>
          <!-- <table mat-table [dataSource]="RFQResponseItemDataSource" class="mat-elevation-z8 mr-12"
                formArrayName="RFQResponseItems">
                <tr [ngClass]="BGClassName?.layout?.toolbar?.background" mat-header-row
                  *matHeaderRowDef="RFQResponseItemsColumns">
                </tr>
                <tr mat-row *matRowDef="let row;let i = index; columns: RFQResponseItemsColumns;"></tr>

                <ng-container matColumnDef="IsResponded">
                  <th mat-header-cell *matHeaderCellDef>
                  </th>
                  <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <mat-checkbox formControlName="IsResponded" (change)="onChangeChk($event,row)"
                      [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>

                <ng-container matColumnDef="ItemID">
                  <th mat-header-cell *matHeaderCellDef> Item </th>
                  <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput formControlName="ItemID">
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('ItemID').touched && 
                RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('ItemID').hasError('required')">
                      *
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="MaterialDescription">
                  <th mat-header-cell *matHeaderCellDef> Material Description </th>
                  <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput formControlName="MaterialDescription">
                    <span class="pl-4 errorClass"
                      *ngIf="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('MaterialDescription').touched && 
                RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('MaterialDescription').hasError('required')">
                      *
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="Manufacturer">
                  <th mat-header-cell *matHeaderCellDef> Manufacturer </th>
                  <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <mat-form-field appearance="outline" style="min-width:100px;max-width:110px">
                      <input matInput formControlName="Manufacturer">
                    </mat-form-field>
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('Manufacturer').touched && 
                RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('Manufacturer').hasError('required')">
                      *
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="OrderQuantity">
                  <th mat-header-cell *matHeaderCellDef> Order Qty. </th>
                  <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput formControlName="OrderQuantity">
                    <span class="pl-4 errorClass"
                      *ngIf="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('OrderQuantity').touched && 
                RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('OrderQuantity').hasError('required')">
                      *
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="UOM">
                  <th mat-header-cell *matHeaderCellDef> UOM </th>
                  <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput formControlName="UOM">
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('UOM').touched && 
                RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('UOM').hasError('required')">
                      *
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="DeliveryDate">
                  <th mat-header-cell *matHeaderCellDef>Delivery Date</th>
                  <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <mat-form-field appearance="outline" style="min-width:100px;max-width:110px">
                      <input matInput [matDatepicker]="picker21" (click)="picker21.open()" (keydown)="onKeydown($event)"
                        [min]="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('ExpectedDeliveryDate').value"
                        (dateChange)="DateSelected($event,row)" formControlName="DeliveryDate">
                      <mat-datepicker #picker21></mat-datepicker>
                    </mat-form-field>
                    <span class="pl-4 errorClass"
                      *ngIf="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('DeliveryDate').touched && 
                  RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('DeliveryDate').hasError('required')">
                      *
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="DelayDays">
                  <th mat-header-cell *matHeaderCellDef> DelayDays </th>
                  <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput formControlName="DelayDays">
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('DelayDays').touched && 
                RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('DelayDays').hasError('required')">
                      *
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="Schedule">
                  <th mat-header-cell *matHeaderCellDef>Schedule</th>
                  <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <mat-form-field appearance="outline" style="min-width:50px;max-width:70px">
                      <input matInput formControlName="Schedule" pattern="^[1-9]\d*$">
                    </mat-form-field>
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('Schedule').touched && 
                RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('Schedule').hasError('required')">
                      *
                    </span>
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('Schedule').touched && 
                  !RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('Schedule').hasError('required')&&
                  RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('Schedule').hasError('pattern')">
                      *
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="Price">
                  <th mat-header-cell *matHeaderCellDef> Price </th>
                  <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <mat-form-field appearance="outline" style="min-width:50px;max-width:70px">
                      <input matInput formControlName="Price">
                    </mat-form-field>
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('Price').touched && 
                RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('Price').hasError('required')">
                      *
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="PaymentTerms">
                  <th mat-header-cell *matHeaderCellDef> Payment terms </th>
                  <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <mat-form-field appearance="outline" style="min-width:100px;max-width:110px">
                      <input matInput formControlName="PaymentTerms">
                    </mat-form-field>
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('PaymentTerms').touched && 
                RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('PaymentTerms').hasError('required')">
                      *
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="SupplierPartNumber">
                  <th mat-header-cell *matHeaderCellDef> SupplierPart No. </th>
                  <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <mat-form-field appearance="outline" style="min-width:100px;max-width:110px">
                      <input matInput formControlName="SupplierPartNumber">
                    </mat-form-field>
                    <span class="pl-4 errorClass"
                      *ngIf="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('SupplierPartNumber').touched && 
                RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('SupplierPartNumber').hasError('required')">
                      *
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="SelfLifeDays">
                  <th mat-header-cell *matHeaderCellDef>Self Life Days</th>
                  <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <mat-form-field appearance="outline" style="min-width:50px;max-width:70px">
                      <input matInput formControlName="SelfLifeDays" pattern="^[1-9]\d*$">
                    </mat-form-field>
                    <span class="pl-4 errorClass"
                      *ngIf="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('SelfLifeDays').touched && 
                    RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('SelfLifeDays').hasError('required')">
                      *
                    </span>
                    <span class="pl-4 errorClass"
                      *ngIf="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('SelfLifeDays').touched && 
                  !RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('SelfLifeDays').hasError('required')&&
                  RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('SelfLifeDays').hasError('pattern')">
                      *
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="Attachment">
                  <th mat-header-cell *matHeaderCellDef>Attachment</th>
                  <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <mat-icon
                      [matBadge]="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('NumberOfAttachments')?.value"
                      matBadgeColor="accent"
                      [ngClass]="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('ItemID').enabled?'CursorPointer':'AttachIconDisable'"
                      (click)="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('ItemID').enabled?fileInput1.click():false">
                      attach_file
                    </mat-icon>
                    <input hidden type="file" #fileInput1 id="file" (change)="handleFileInput($event,index)" />
                    <mat-icon class="ml-8"
                      *ngIf="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('NumberOfAttachments')?.value"
                      (click)="GetRFQItemAttachments(index)">image</mat-icon>
                  </td>
                </ng-container>

                <ng-container matColumnDef="TechRating">
                  <th mat-header-cell *matHeaderCellDef> Tech Rating </th>
                  <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput formControlName="TechRating">
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('TechRating').touched && 
                RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('TechRating').hasError('required')">
                      *
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="Notes">
                  <th mat-header-cell *matHeaderCellDef> Notes </th>
                  <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput formControlName="Notes">
                    <span class="pl-4 errorClass" *ngIf="RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('Notes').touched && 
                RFQResponseFormGroup.get('RFQResponseItems').controls[index].get('Notes').hasError('required')">
                      *
                    </span>
                  </td>
                </ng-container>
              </table> -->
          <!-- </div> -->
          <div fxLayout="row" class="mt-12" fxLayoutAlign="space-between">
            <div fxFlex>
              <mat-checkbox [(ngModel)]="TermsAnContionStatus">
              </mat-checkbox>
              I have read and agree to the <a (click)="OpenTermsAndCondtionsDialog()">terms and condition</a>
            </div>
            <div fxFlex align="end">
              <button *ngIf="(SelectedRFQStatus | lowercase)!=='awarded'&&TermsAnContionStatus"
                [ngClass]="BGClassName?.layout?.toolbar?.background" mat-raised-button (click)="ValidateRFQResponse()">
                Respond
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion1" color="accent"
        mode="indeterminate"></mat-progress-spinner>
      <div id="overlay" *ngIf="IsProgressBarVisibile"></div>

    </div>

  </div>

</div>