@import "src/@fuse/scss/fuse";

$icon-small-size: 16px;
#chat {
    .center {
        padding: 32px !important;
        max-width: 1400px;
        margin: 0 auto;

        @include media-breakpoint-down(md) {
            padding: 0 !important;
        }
    }
}

.sub-Title {
    margin-left: -24px;
    background-color: #f7f9ff;
    border-radius: 26px;
    padding: 6px;
    font-family: Ubuntu;
    padding-left: 40px;
    padding-right: 20px;
    color: #4a77fb;
}

.mat-table-sticky {
    border-left: 1px solid #1b56ca;
}

.mat-column-select {
    overflow: initial;
}

.mat-table {
    border: 1px solid #082f7d;
}
.divclass {
    margin-top: 25px;
    margin-left: 15px;
}
.Relevantclass {
    margin-top: 10px;
}

.Title {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    font-family: roboto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.borderRight {
    border-left: 1px solid white;
    opacity: 0.4;
    border-radius: 1px;
}
.layoutclass {
    margin-top: -32px;
    margin-bottom: 40px;
}
.img-style {
    height: 45px;
}

table {
    width: 100%;
    th {
        // background: #082f7d;
        color: white;
        //font-family: Ubuntu;
        // padding-left: 25px;
        padding: 10px;
        border-right: 1px solid #e0e0e0;
    }
    td {
        padding-left: 15px;
        border-right: 1px solid #1b56ca;
        padding: 5px;
    }
    tr {
        height: 40px;
    }
}
