<div id="chat" class=" page-layout carded fullwidth" fusePerfectScrollbar>
  <div class="top-bg" style="background-color:#1b56ca"></div>
  <div class="center" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="10">
    <div style="background-color:#1b56ca" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px"
      fxLayoutGap.xs="10">
      <div fxLayout class="layoutclass">
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                Yet-to-Accept
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%">
              <div class="pl-8">
                <span style="color:white;font-size:28px">24</span>
              </div>
              <div style="color:rgba(255, 255, 255, 0.5)">
                /7 Days
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/dashboard/accept.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                To-Ship
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div>
                <span style="color:#dddbdb">Open:</span>
                <span> 4 PO's</span>
              </div>
              <div style="margin-top: 11px">
                <span style="color:#dddbdb">Week:</span>
                <span> 2Shipment</span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/dashboard/box-icon.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                In-Transit
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white;">
              <div>
                <span style="color:#dddbdb">In Transit:</span>
                <span> 4</span>
              </div>
              <div style="margin-top: 11px">
                <span style="color:#dddbdb">Received:</span>
                <span> 1</span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/dashboard/ship.png">
              </div>
            </div>
          </div>
        </div>
        <div class="borderRight mr-20"></div>
        <div fxFlex fxLayout="column">
          <div fxFlex>
            <div class="pt-8">
              <span class="Title">
                Payment
              </span>
            </div>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="center center">
            <div fxFlex="60%" style="color:white">
              <div>
                <span style="color:#dddbdb">Due:</span>
                <span> 8</span>
              </div>
              <div style="margin-top: 11px">
                <span style="color:#dddbdb">Received:</span>
                <span> 2</span>
              </div>
            </div>
            <div fxFlex>
              <div class="pr-4 ra">
                <img class="img-style" src="assets/images/dashboard/payment.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex class="mt-20">
      <mat-card class="roundedBorder my-12 mx-24">
        <!-- <mat-card-header>
          <mat-card-title>
            <div fxLayout="row">
              <div fxFlex class="borderRightClass">
                Hi
              </div>
              <div fxFlex>
                Hello
              </div>
            </div>
          </mat-card-title>
        </mat-card-header> -->
        <mat-card-content>
          <div fxLayout="row">
            <div fxFlex="60">
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1" class="borderRightClass mr-24 pr-24">Yet to convert RFQ</mat-radio-button>
                <mat-radio-button value="2" class="borderRightClass mr-24 pr-24">In Progress</mat-radio-button>
                <mat-radio-button value="1" class="borderRightClass mr-24 pr-24">Completed</mat-radio-button>
                <mat-radio-button value="2" class="borderRightClass mr-24 pr-24">All</mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex="40" align="end" class="pb-8">
              <button class="SaveBtnClass" mat-raised-button>
                Publish RFQ
              </button>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div fxLayout="row" class="mt-24">
            <table mat-table [dataSource]="dataSource">

              <ng-container matColumnDef="PurchaseRequirement">
                <th mat-header-cell *matHeaderCellDef>Purchase Requirement</th>
                <td mat-cell *matCellDef="let element">{{element.PurchaseRequirement}}</td>
              </ng-container>

              <ng-container matColumnDef="PurchaseDate">
                <th mat-header-cell *matHeaderCellDef>Purchase Date</th>
                <td mat-cell *matCellDef="let element"> {{element.PurchaseDate}} </td>
              </ng-container>

              <ng-container matColumnDef="PurchaseOrganization">
                <th mat-header-cell *matHeaderCellDef>PurchaseOrganization</th>
                <td mat-cell *matCellDef="let element"> {{element.PurchaseOrganization}} </td>
              </ng-container>

              <ng-container matColumnDef="PurchaseGroup">
                <th mat-header-cell *matHeaderCellDef>Purchase Group</th>
                <td mat-cell *matCellDef="let element"> {{element.PurchaseGroup}} </td>
              </ng-container>

              <ng-container matColumnDef="CompanyCode">
                <th mat-header-cell *matHeaderCellDef>Company Code</th>
                <td mat-cell *matCellDef="let element"> {{element.CompanyCode}} </td>
              </ng-container>

              <ng-container matColumnDef="Buyer">
                <th mat-header-cell *matHeaderCellDef>Buyer</th>
                <td mat-cell *matCellDef="let element"> {{element.Buyer}} </td>
              </ng-container>

              <ng-container matColumnDef="Station">
                <th mat-header-cell *matHeaderCellDef>Station</th>
                <td mat-cell *matCellDef="let element"> {{element.Station}} </td>
              </ng-container>

              <ng-container matColumnDef="Publishing">
                <th mat-header-cell *matHeaderCellDef>Publishing</th>
                <td mat-cell *matCellDef="let element"> {{element.Publishing}} </td>
              </ng-container>

              <ng-container matColumnDef="Response">
                <th mat-header-cell *matHeaderCellDef>Response</th>
                <td mat-cell *matCellDef="let element"> {{element.Response}} </td>
              </ng-container>

              <ng-container matColumnDef="Award">
                <th mat-header-cell *matHeaderCellDef>Award</th>
                <td mat-cell *matCellDef="let element"> {{element.Award}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>