<div class="dialog-content-wrapper normal">
  <mat-toolbar class="mat-accent m-0" [ngClass]="BGClassName?.layout?.toolbar?.background">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">CAPA {{SupportTicketStatusViewDATA?.Actiontype}} Confirmation</span>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <form name="CAPAConfigurationForm" [formGroup]="SupportTicketConfirmationFormGroup" fxLayout="column" fxFlex>
      <mat-form-field>
        <input matInput placeholder="Reason" formControlName="Reason">
        <mat-error
          *ngIf="SupportTicketConfirmationFormGroup.get('Reason').touched && SupportTicketConfirmationFormGroup.get('Reason').hasError('required')">
          Reason is required
        </mat-error>
      </mat-form-field>
    </form>
  </div>

  <mat-dialog-actions class="m-0 p-16" fxLayoutAlign="space-between center">
    <button mat-button (click)="CloseClicked()">Cancel</button>
    <button mat-button [style.color]="compStyles?.backgroundColor" (click)="YesClicked()">Yes</button>
  </mat-dialog-actions>
</div>
